@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?qdregp') format('truetype'),
    url('fonts/icomoon.woff?qdregp') format('woff'),
    url('fonts/icomoon.svg?qdregp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lilIcon-"], [class*=" lilIcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lilIcon-accuracy:before {
  content: "\e900";
}
.lilIcon-armor:before {
  content: "\e901";
}
.lilIcon-attack:before {
  content: "\e902";
}
.lilIcon-attackSpeed:before {
  content: "\e903";
}
.lilIcon-crafting:before {
  content: "\e904";
}
.lilIcon-defense:before {
  content: "\e905";
}
.lilIcon-energyPerHit:before {
  content: "\e906";
}
.lilIcon-energyRegen:before {
  content: "\e907";
}
.lilIcon-energyStorage:before {
  content: "\e908";
}
.lilIcon-gold:before {
  content: "\e909";
}
.lilIcon-health:before {
  content: "\e90a";
}
.lilIcon-miner:before {
  content: "\e90b";
}
.lilIcon-mining:before {
  content: "\e90c";
}
.lilIcon-woodcutting:before {
  content: "\e90d";
}

