@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?7iklvm') format('truetype'),
    url('fonts/icomoon.woff?7iklvm') format('woff'),
    url('fonts/icomoon.svg?7iklvm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lilIcon-"], [class*=" lilIcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lilIcon-inscription:before {
  content: "\e929";
}
.lilIcon-duration:before {
  content: "\e928";
}
.lilIcon-totalHealthRegen:before {
  content: "\e927";
}
.lilIcon-farming:before {
  content: "\e926";
}
.lilIcon-total:before {
  content: "\e925";
}
.lilIcon-ashWood:before {
  content: "\e90e";
}
.lilIcon-beechLog:before {
  content: "\e90f";
}
.lilIcon-character:before {
  content: "\e910";
}
.lilIcon-coal:before {
  content: "\e911";
}
.lilIcon-copper:before {
  content: "\e912";
}
.lilIcon-copperAxe:before {
  content: "\e913";
}
.lilIcon-copperBar:before {
  content: "\e914";
}
.lilIcon-copperDagger:before {
  content: "\e915";
}
.lilIcon-copperFurnace:before {
  content: "\e916";
}
.lilIcon-copperPickaxe:before {
  content: "\e917";
}
.lilIcon-farmer:before {
  content: "\e918";
}
.lilIcon-iron:before {
  content: "\e919";
}
.lilIcon-ironBar:before {
  content: "\e91a";
}
.lilIcon-pineLog:before {
  content: "\e91b";
}
.lilIcon-primitiveAxe:before {
  content: "\e91c";
}
.lilIcon-primitivePickaxe:before {
  content: "\e91d";
}
.lilIcon-prospector:before {
  content: "\e91e";
}
.lilIcon-rat:before {
  content: "\e91f";
}
.lilIcon-ratHead:before {
  content: "\e920";
}
.lilIcon-stone:before {
  content: "\e921";
}
.lilIcon-stoneFurnace:before {
  content: "\e922";
}
.lilIcon-wiseFarmer:before {
  content: "\e923";
}
.lilIcon-woodcutter:before {
  content: "\e924";
}
.lilIcon-accuracy:before {
  content: "\e900";
}
.lilIcon-armor:before {
  content: "\e901";
}
.lilIcon-attack:before {
  content: "\e902";
}
.lilIcon-attackSpeed:before {
  content: "\e903";
}
.lilIcon-crafting:before {
  content: "\e904";
}
.lilIcon-defense:before {
  content: "\e905";
}
.lilIcon-energyPerHit:before {
  content: "\e906";
}
.lilIcon-energyRegen:before {
  content: "\e907";
}
.lilIcon-energyStorage:before {
  content: "\e908";
}
.lilIcon-gold:before {
  content: "\e909";
}
.lilIcon-health:before {
  content: "\e90a";
}
.lilIcon-miner:before {
  content: "\e90b";
}
.lilIcon-mining:before {
  content: "\e90c";
}
.lilIcon-woodcutting:before {
  content: "\e90d";
}

