/* CSS declarations go here */
@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
@import "iconFont.scss";

.floating-text {
  pointer-events: none;
  position: absolute;
  cursor: pointer;
  text-decoration: bold;
  font-size: 18px;
  user-select: none;
  background-color: white;
  padding: ($spacer / 4);
  border: 1px solid $gray;
  border-radius: 4px;
}

.floor-image {
  width: 96px;
}

.alert-secondary {
  border: 1px solid $gray-lighter;
}

.table-centered {
  td {
    text-align: center;
    vertical-align: middle;
  },

  th {
    text-align: center;
    vertical-align: middle;
  }
}

.small-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
  pointer-events: none;
}

.select-skill-active {
  background-color: $blue;
  color: white;
}

.medium-icon {
  width: 48px;
  height: 48px;
  font-size: 48px;
  line-height: 48px;
}

.ore-icon {
  width: 48px;
  height: 48px;
  pointer-events: none;
}

.drop {
  // So we can show tooltips on modals
  z-index: 1050;
}

.icon-box {
  user-select: none;
  width: 96px;
  height: 96px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: $spacer / 4;
  padding: $spacer / 4;
}

.icon-border {
  border: 1px solid black;
}

.health-bar {
  width: 96px;
}

.my-tooltip-inner {
  min-width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  background-color: white;
}

.tooltip.show {
  opacity: 1.0;
}
