
/* CSS declarations go here */
@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
@import "iconFont.scss";
@import "styles/colors.scss";
@import "styles/chat.scss";
@import "styles/icons.scss";
@import "styles/badges.scss";

.body-content {
  margin-left: $spacer / 2;
  margin-right: $spacer / 2;
}

.cursor-pointer {
  cursor: pointer;
}

.tier-filter {
  cursor: pointer;
}

.flex-grow {
  flex: 1 1 auto;
}

.battle-unit-name {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

@media (min-width: 768px) {

  // Fix so tables are full width on pc
  .table-responsive {
    display: table;
  }

  // General fix so more content is visible on mobile
  .body-content {
    margin-left: $spacer;
    margin-right: $spacer;
  }

  // Desktop specific optimization for the equipment screen
  .stats-row {
    width: 50%;
  }

  .equipment-row {
    width: 50%;
    margin-right: $spacer;
  }

  .skills-page {
    .player-skills-container {
      width: 50%;
      margin-right: $spacer;
    }

    .highscore-skills-container {
      width: 50%;
      margin-left: $spacer;
    }
  }
}

@media (max-width: 768px) {
  // So nav tabs don't expand too far on mobile
  .nav-tabs {
    overflow-x: scroll;
  }
}

.disabled-row {
  opacity: 0.5;
  cursor: not-allowed;
}

// Inscription level filter badges
.level-filter {
  cursor: pointer;
}

.farm-space-container.inactive {
  background-color: $gray-light;
  cursor: not-allowed;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -200%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

.floating-text {
  animation-duration: 2s;
  pointer-events: none;
  position: absolute;
  cursor: pointer;
  text-decoration: bold;
  font-size: 18px;
  user-select: none;
  background-color: white;
  padding: $spacer * 0.25;
  border: 1px solid $gray;
  border-radius: 4px;

  & > i {
    user-select: none;
    cursor: pointer;
  }
}

.floor-image {
  width: 96px;
}

.alert-secondary {
  border: 1px solid $gray-lighter;
}

.table-centered {
  td {
    text-align: center;
    vertical-align: middle;
  },

  th {
    text-align: center;
    vertical-align: middle;
  }
}

.select-skill-active {
  background-color: $blue;
  color: white;
}

.drop {
  // So we can show tooltips on modals
  z-index: 1050;
}

.health-bar {
  width: 96px;
}

.my-tooltip-inner {
  min-width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  background-color: white;
}

.drop-element {
  pointer-events: none !important;
  user-select: none !important;
}

.tooltip.show {
  opacity: 1.0;
}
