<template name="foodIcon">
  <div class="item-icon-container food-icon-container item small icon-box disabled">
    <div class="item-icon food-icon disabled">
      <img src="/icons/{{food.data.icon}}">
    </div>
    <span class="cooldown-text">
      {{moDiff food.data.endDate moNow 'seconds'}}
    </span>
  </div>

  <!-- Icon Tooltip -->
  <div class="food-tooltip-content my-tooltip-inner">
    <h3 class='popover-title text-capitalize'>
      {{food.data.name}}
    </h3>
    <div class='popover-content'>
      <div style='max-width: 350px;'>
        {{{food.data.description}}}
      </div>
    </div>
  </div>

</template>
