<template name="itemIcon">
  <div class="item-icon-container item {{classes}} icon-box {{#if item.notLearnt}}not-learnt{{/if}} {{#if multiSelling}}item-icon-multiSelling{{/if}} {{#if multiDonating}}item-icon-multiDonating{{/if}} {{#if multiShowing}}item-icon-multiShowing{{/if}} {{#if multiHiding}}item-icon-multiHiding{{/if}} {{#if multiLocking}}item-icon-multiLocking{{/if}}" style="position: relative; border: {{borderStyle}};" data-id="{{item._id}}">
    {{#if item.locked}}
      <i class="material-icons item-locked">lock</i>
    {{/if}}
    
    {{#if multiSelling}}  <i class="material-icons icon-success item-multisell">     check_circle</i>    {{/if}}
    {{#if multiDonating}} <i class="material-icons icon-success item-multidonate">   check_circle</i>    {{/if}}
    {{#if multiShowing}}  <i class="material-icons icon-success item-multishow">     check_circle</i>    {{/if}}
    {{#if multiHiding}}   <i class="material-icons icon-success item-multihide">     check_circle</i>    {{/if}}
    {{#if multiLocking}}  <i class="material-icons icon-success item-multilock">     check_circle</i>    {{/if}}

    {{#if item.quality}}
      <div class="item-quality-bubble item-quality" style="color: black; background-color: {{bubbleColor}};">{{item.quality}}%</div>    
    {{/if}}
    
    {{#if $or (item.isPacifist) (abilityRequiresOrForbids)}}
      <div style="position: absolute; left: 2px; top: 0" class="required-weapon">
        {{#if item.isPacifist}}
          <img
            src="/icons/pacifist.svg"
            style="height: 20px; width: 20px;">
        {{/if}}
        
        {{#each abilityRequires}}
          {{#if $eq this.type 'weaponType'}}
            {{#each this.weaponTypes}}
              <img
                class="weapon-type"
                src="/icons/{{this}}.svg"
                style="height: 20px; width: 20px;">
            {{/each}}
          {{/if}}
        {{/each}}
        
        {{#each abilityForbids}}
          {{#if $eq this.type 'weaponType'}}
            {{#each this.weaponTypes}}
              <img
                src="/icons/forbidden.svg"
                style="position: absolute; top: 0; left: 0; height: 20px; width: 20px;">
              <img
              class="weapon-type"
                src="/icons/{{this}}.svg"
                style="position: absolute; top: 0; left: 0; height: 20px; width: 20px;">
            {{/each}}
          {{/if}}
        {{/each}}
      </div>
    {{/if}}

    <img src="/icons/{{icon}}" class="item-icon" style="height: 48px; width: 48px; margin: 0px; margin-top: -8px;">

    {{#unless item.hideCount}}
      {{#if $gt item.amount 1}}
        <div class="item-amount-bubble item-amount" style="color: black; background-color: {{bubbleColor}};">{{{itemAmount}}}</div>
      {{/if}}
    {{/unless}}
  </div>

  <!-- Icon Tooltip -->
  {{#unless hideTooltip}}
    <div class="item-tooltip-content my-tooltip-inner" id="tooltip-{{item._id}}">
      <h3 class='popover-title text-capitalize'>
        {{constants.name}}
        {{#if item.enhanced}}
          (E)
        {{/if}}
        {{#if item.enchantmentId}}
          {{#if $neq item.enchantmentId "undefined"}}
            (M)
          {{/if}}
        {{/if}}
        {{amuletLevel}}
      </h3>
      <div class='popover-content'>
        <div style='max-width: 350px;'>
          {{#if rarity.rare}}
            <span style="color: #{{rarity.color}};"><b>{{rarity.label}}</b></span> <br />
          {{/if}}
          {{#if item.customDescription}}
            {{{item.customDescription}}}<br />
          {{else if itemDescription}}
            {{{itemDescription}}}<br />
          {{else if item.description}}
            {{{item.description}}}<br />
          {{/if}}

          <!-- farming description() -->
          <!-- {{#if itemDescription}}
            {{#if $and (item.plantingDetails) (description)}}
              {{{description}}}<br />
            {{/if}}
          {{/if}}
          -->
          
          {{#if scaledCooldownVal}}
            Cooldown <b>{{scaledCooldownVal}}s</b><br />
          {{else if item.cooldown}}
            Cooldown <b>{{item.cooldown}}s</b><br />
          {{/if}}

          {{#if item.isSpell}}
            <b>{{> formatNumber number=item.casts}}</b> casts remaining.<br /><br />
          {{/if}}

          {{#unless item.hideStats}}
            {{#if stats}}
              {{> displayCombatStats stats=stats slot=item.slot}}
            {{/if}}
          {{/unless}}

          {{#if item.required}}
            <b>Requires</b><br />
            {{> requiredItems requiredItems=item.required}}
          {{/if}}
          
          {{#if constants.requiredEquip}}
            <b>Equip Requirements</b>
            {{#each constants.requiredEquip}}
              <div class="d-flex align-items-center">
                <i class="lilIcon-{{this.name}} extra-small-icon mr-1"></i>
                {{this.level}} {{this.name}} skill
              </div>
            {{/each}}
          {{else if item.requiredEquip}}
            <b>Equip Requirements</b>
            {{#each item.requiredEquip}}
              <div class="d-flex align-items-center">
                <i class="lilIcon-{{this.name}} extra-small-icon mr-1"></i>
                {{this.level}} {{this.name}} skill
              </div>
            {{/each}}
          {{/if}}
          
          {{#if reforgeChance}}
            <b>{{{item.reforgeChance}}}</b> chance to reforge to higher rarity<br />
          {{else if unadjustedReforgeChance}}
            No chance to reforge to higher rarity<br />
          {{/if}}
                  
          {{#if constants.isTwoHanded}}
            <b>Two Handed</b><br />
          {{/if}}

          {{#if enchantments}}
            {{#each enchantment in enchantments}}
              {{{enchantment}}}<br />
            {{/each}}
          {{/if}}

          {{#if item.enchantmentId}}
            {{#if $neq item.enchantmentId "undefined"}}
              {{#if item.enchantmentDescription}}
                <b>Enchantment</b>: {{{item.enchantmentDescription}}}<br />
              {{/if}}
            {{/if}}
          {{/if}}

          {{#unless readOnly}}
            {{#if item.donateMode}}
              <div>
                <b>Left Click</b> to donate to the town
              </div>
            {{else if item.primaryAction}}
              {{#if item.primaryAction.description}}
                <div>
                  <b>Left Click</b> to {{{item.primaryAction.description}}}
                </div>
              {{/if}}
            {{else}}
              {{#if item.shiftAction}}
                {{#if item.shiftAction.description}}
                  <div>
                    <b>Left Click</b> to use or sell for <img src="/icons/goldCoin.svg" class="extra-small-icon"> {{> formatNumber number=constants.sellPrice}}
                  </div>
                {{/if}}
              {{else}}
                <b>Left Click</b> to sell for <img src="/icons/goldCoin.svg" class="extra-small-icon"> {{> formatNumber number=constants.sellPrice}}
              {{/if}}
            {{/if}}

            {{#if item.shiftAction}}
              {{#if item.shiftAction.description}}
                <div>
                  <b>Shift Click</b> to {{{item.shiftAction.description}}}
                </div>
              {{/if}}
            {{/if}}

            {{#if item.ctrlAction}}
              {{#if item.ctrlAction.description}}
                <div>
                  <b>Ctrl Click</b> to {{{item.ctrlAction.description}}}
                </div>
              {{/if}}
            {{/if}}
          {{/unless}}
        </div>
      </div>
    </div>
  {{/unless}}

  {{#if showSellModal}}
      <!-- Modal -->
      <div class="modal sellModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Selling Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              How many to sell?
              <div class="row">
                <div class="col-md-6">
                  <form class="sell-form">
                    <input class="form-control sell-amount-input" value={{sellAmount}}>
                  </form>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-end">
                  +{{> formatNumber number=(totalPrice sellAmount constants.sellPrice)}} Gold
                </div>
              </div>

              <br /><br />
            </div>
            <div class="modal-footer">
              {{#if reforgeChance}}
                <button type="button" class="btn btn-secondary reforge-btn">Reforge</button>
              {{else if unadjustedReforgeChance}}
                <button type="button" class="btn btn-secondary reforge-btn">Reforge</button>
              {{/if}}
              <button type="button" class="btn btn-secondary hide-btn">
                {{#if item.hidden}}
                  Show
                {{else}}
                  Hide
                {{/if}}
              </button>
              <button type="button" class="btn btn-secondary lock-btn">
                {{#if item.locked}}
                  Unlock
                {{else}}
                  Lock
                {{/if}}
              </button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger sell-btn">Sell</button>
            </div>
          </div>
        </div>
      </div>
  {{/if}}

  {{#if showDonateModal}}
      <!-- Modal -->
      <div class="modal donateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Donating Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              How many to donate?
              <div class="row">
                <div class="col-md-6">
                  <form class="donate-form">
                    <input type="number" class="form-control donate-amount-input" value={{donateAmount}}>
                  </form>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-end">   
                  {{{donateAmountMaxFormatted}}}
                </div>
              </div>

              <br /><br />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger donate-btn">Donate</button>
            </div>
          </div>
        </div>
      </div>
  {{/if}}

  {{#if showUseModal}}
    <!-- Modal -->
    <div class="modal useModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Item Actions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <span class='use-desc'>Using this item will:<br>{{item.shiftAction.description}}</span>
              </div>
              <div class="col-md-6">
                How many to sell?
                <form class="sell-form">
                  <input class="form-control sell-amount-input" value={{sellAmount}}>
                </form>
                  +{{> formatNumber number=(totalPrice sellAmount constants.sellPrice)}} Gold
                <br /><br />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success use-btn pull-left">Use</button>
            <button type="button" class="btn btn-secondary hide-btn">
              {{#if item.hidden}}
                Show
              {{else}}
                Hide
              {{/if}}
            </button>
            <button type="button" class="btn btn-secondary lock-btn">
              {{#if item.locked}}
                Unlock
              {{else}}
                Lock
              {{/if}}
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger sell-btn">Sell</button>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

  <!-- Modal -->
  <div class="modal reforgeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reforge Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div style="max-height: 200px; overflow-y: auto">
            Reforging equipment gives you a chance to improve the rarity of most equipment.  The chance of success to
            reforge is based on your crafting level and the required crafting level of the item you are reforging.
            Reforging costs materials and gold.  Success will improve the rarity by one tier after some time and failure
            will simply use up the costs but with a <b>10%</b> critical failure chance that the item rarity tier will be
            reduced.  The item quality will not be affected at all whether you succeed or fail.<br />
            <br />
            Every attempt, <u>whether successful or not</u> will <i>increase the costs</i> of your next attempt to
            reforge this item. Costs are also increased by the tier of the item.<br />
            <br />
            You can only reforge one item at a time until Crafting level 30, when you gain your second reforging slot.
            You gain a third reforging slot at Crafting level 60.  During a global crafting buff, your critical chance
            to fail is reduced from <b>10%</b> to <b>5%</b> and all crafting resource costs (items and gold) are reduced
            by <b>half</b>.  With the town armory buff, your chance to succeed is increased by <b>5%</b> <i>per buff
            level</i>.<br />
          </div>
          <br />
          {{#if reforgeChance}}
            Are you sure you want to reforge your <b> {{item.name}} </b> with a <b> {{reforgeChance}} </b> success chance?<br />
          {{else if unadjustedReforgeChance}}
            Your base crafting skill level isn't high enough to attempt to reforge your <b>{{item.name}}</b>.<br />
          {{/if}}
          {{#if unadjustedReforgeChance}}
            {{#if reforgeRecipe.required}}
              <br />
              {{ > requiredItemsList requiredItems=reforgeRecipe.required recipeName=reforgeRecipe.name duration=reforgeRecipe.timeToCraft isReforge=true}}
            {{/if}}
          {{/if}}
          </div>
        <div class="modal-footer">
          <div class="row" style="width:100%">
            <div class="col-md-6">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
          <div class="col-md-6">
            {{#if reforgeChance}}
             <button type="button" class="btn btn-success reforge-confirm-btn pull-left">Reforge</button>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
