<template name="itemIcon">
  <div
    data-tooltip="
      <h3 class='popover-title text-capitalize'>{{item.name}}</h3>
      <div class='popover-content'>
        <b>Sells for</b> {{item.sellPrice}} Gold<br />
        <b>Click</b> to sell
      </div>
    "
    class="d-flex align-items-center justify-content-center p-1 m-1 icon-box icon-border"
    style="position: relative">
    <object data="/icons/{{item.icon}}.svg" class="ore-icon" type="image/svg+xml"></object>
    <div style="position: absolute; bottom: 2px; right: 5px">{{item.amount}}</div>
  </div>

  <!-- Modal -->
  <div class="modal" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          How many to sell?
          <input class="form-control sell-amount-input" value={{sellAmount}}><br />
          +{{ totalPrice sellAmount item.sellPrice }} Gold
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger sell-btn">Sell</button>
        </div>
      </div>
    </div>
  </div>


</template>
