<template name="itemIcon">
  <div class="item-icon-container item {{classes}} icon-box {{#if item.notLearnt}}not-learnt{{/if}}" style="position: relative" data-id="{{item._id}}">
    {{#if item.quality}}
      <div class="item-quality">{{item.quality}}%</div>    
    {{/if}}

    <!-- Abilities can have required items -->
    {{#if item.requiredItem}}
      <img src="/icons/{{item.requiredItem}}.svg" class="small-icon">
    {{/if}}

    <img src="/icons/{{item.icon}}.svg" class="item-icon">
    {{#unless item.hideCount}}
      {{#if $gt item.amount 1}}
        <div class="item-amount">{{> formatNumber number=item.amount decimal=0}}</div>
      {{/if}}
    {{/unless}}
  </div>

  <!-- Icon Tooltip -->
  <div class="item-tooltip-content my-tooltip-inner">
    <h3 class='popover-title text-capitalize'>
      {{item.name}}
      {{#if item.enhanced}}
        (E)
      {{/if}}
    </h3>
    <div class='popover-content'>
      {{#if item.description}}
        {{{item.description}}}<br />
      {{/if}}

      {{#if item.cooldown}}
        Cooldown <b>{{item.cooldown}}s</b><br />
      {{/if}}

      {{#if item.isSpell}}
        <b>{{item.casts}}</b> casts remaining.<br /><br />
      {{/if}}

      {{#unless item.hideStats}}
        {{#if item.stats}}
          {{> displayCombatStats stats=item.stats}}
        {{/if}}
      {{/unless}}

      {{#if item.required}}
        <b>Requires</b><br />
        {{> requiredItems requiredItems=item.required}}        
      {{/if}}

      {{#if item.isTwoHanded}}
        <b>Two Handed</b><br />
      {{/if}}

      {{#if item.primaryAction}}
        {{#if item.primaryAction.description}}
          <div>
            <b>Left Click</b> to {{item.primaryAction.description}}
          </div>
        {{/if}}
      {{else}}
        <b>Left Click</b> to sell for {{item.sellPrice}}
      {{/if}}

      {{#if item.shiftAction}}
        {{#if item.shiftAction.description}}
          <div>
            <b>Shift Click</b> to {{item.shiftAction.description}}
          </div>
        {{/if}}
      {{/if}}

      {{#if item.ctrlAction}}
        {{#if item.ctrlAction.description}}
          <div>
            <b>Ctrl Click</b> to {{item.ctrlAction.description}}
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>

  {{#if showSellModal}}
      <!-- Modal -->
      <div class="modal sellModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Selling Item</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              How many to sell?
              <form class="sell-form">
                <input class="form-control sell-amount-input" value={{sellAmount}}><br />
              </form>
              +{{ totalPrice sellAmount item.sellPrice }} Gold

              <br /><br />
              <label>
                Allow selling without confirmation for the next 10 seconds.
              </label>
              <input type="checkbox" class="toggle-quick-selling" checked={{enableQuickSelling}}>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger sell-btn">Sell</button>
            </div>
          </div>
        </div>
      </div>
  {{/if}}


</template>
