<template name="ability">
  <div class="ability-icon-container">
    <div class="ability-hotkey">{{ability.hotkey}}</div>
    {{#if $and (ability.isSpell) ($lt ability.casts 0)}}
      <div class="ability-casts">{{> formatNumber number=ability.casts decimal=0}}</div>
    {{/if}}
    <div class="ability-icon
      {{#if $gt ability.currentCooldown 0}}disabled{{/if}}
      {{#if $and (ability.isSpell) ($lt ability.casts 0)}}disabled{{/if}}
    ">
      <img src="/icons/{{ability.icon}}">
    </div>
    {{#if $gt ability.currentCooldown 0}}
      {{#if $gt ability.currentCooldown 10}}
        <span class="cooldown-text">
          {{> formatNumber number=ability.currentCooldown decimal=0}}
        </span>
      {{else}}
        <span class="cooldown-text">
          {{> formatNumber number=ability.currentCooldown decimal=1}}
        </span>
      {{/if}}
    {{/if}}
  </div>
</template>
