<template name="ability">
  <div class="ability-icon-container">
    <div class="ability-hotkey">{{ability.hotkey}}</div>
    {{#if ability.isSpell}}
      <div class="ability-casts">{{ability.casts}}</div>
    {{/if}}
    <div class="ability-icon
      {{#if $gt ability.currentCooldown 0}}disabled{{/if}}
      {{#if $and (ability.isSpell) ($lte ability.casts 0)}}disabled{{/if}}
    ">
      <img src="/icons/{{ability.icon}}{{imageTimestamp}}">
    </div>
    {{#if $gt ability.currentCooldown 0}}
      <span class="cooldown-text">
        {{> formatNumber number=ability.currentCooldown decimal=0}}
      </span>
    {{/if}}
  </div>
</template>
