.DS_Store
node_modules/
.meteor/local
settings.json

settings-development.json

settings-old.json

settings-old-2.json

.DS_Store

mup.js

build/
.env

docker-compose.yml

# need to generate this and set permissions correctly
dev/mongo/mongo.key