.adventure-item-container {
  border: 1px solid $gray-lighter;
  border-radius: 4px;
  padding: 8px;
}

.friends-item-container {
  border: 1px solid $gray-lighter;
  border-radius: 4px;
  padding: 10px;
}

