// Custom badges for crafting tab

.badge-red-1 {
  background-color: $color-red-1;
}

.badge-orange-1 {
  background-color: $color-orange-1;
}

.badge-yellow-1 {
  background-color: $color-yellow-1;
}

.badge-green-1 {
  background-color: $color-green-1;
}

.badge-blue-1 {
  background-color: $color-blue-1;
}

.badge-blue-2 {
  background-color: $color-blue-2;
}

.badge-purple-1 {
  background-color: $color-purple-1;
}

.badge-grey-0 {
  background-color: $color-grey-0;
}

.badge-grey-1 {
  background-color: $color-grey-1;
}

.badge-grey-2 {
  background-color: $color-grey-2;
}

.badge-black-1 {
  background-color: $color-black-1;
}

.badge-empty {
  background-color: $gray-lighter;
  color: darken($gray-lighter, 20);
}
