// Custom badges for crafting tab

.badge-invisible {
  background-color: transparent;
  color: $text-muted;
}

.badge-red-1 {
  background-color: $color-red-1;
}

.badge-red-2 {
  background-color: $color-red-2;
}

.badge-red-3 {
  background-color: $color-red-3;
}

.badge-red-4 {
  background-color: $color-red-4;
}

.badge-red-5 {
  background-color: $color-red-5;
}

.badge-red-6 {
  background-color: $color-red-6;
}

.badge-orange-1 {
  background-color: $color-orange-1;
}

.badge-orange-2 {
  background-color: $color-orange-2;
}

.badge-orange-3 {
  background-color: $color-orange-3;
}

.badge-orange-4 {
  background-color: $color-orange-4;
}

.badge-orange-5 {
  background-color: $color-orange-5;
}

.badge-orange-6 {
  background-color: $color-orange-6;
}

.badge-yellow-1 {
  background-color: $color-yellow-1;
}

.badge-yellow-2 {
  background-color: $color-yellow-2;
}

.badge-yellow-3 {
  background-color: $color-yellow-3;
}

.badge-yellow-4 {
  background-color: $color-yellow-4;
}

.badge-yellow-5 {
  background-color: $color-yellow-5;
}

.badge-yellow-6 {
  background-color: $color-yellow-6;
}

.badge-green-1 {
  background-color: $color-green-1;
}

.badge-green-2 {
  background-color: $color-green-2;
}

.badge-green-3 {
  background-color: $color-green-3;
}

.badge-green-4 {
  background-color: $color-green-4;
}

.badge-green-5 {
  background-color: $color-green-5;
}

.badge-green-6 {
  background-color: $color-green-6;
}

.badge-blue-1 {
  background-color: $color-blue-1;
}

.badge-blue-2 {
  background-color: $color-blue-2;
}

.badge-blue-3 {
  background-color: $color-blue-3;
}

.badge-blue-4 {
  background-color: $color-blue-4;
}

.badge-blue-5 {
  background-color: $color-blue-5;
}

.badge-blue-6 {
  background-color: $color-blue-6;
}

.badge-purple-1 {
  background-color: $color-purple-1;
}

.badge-purple-2 {
  background-color: $color-purple-2;
}

.badge-purple-3 {
  background-color: $color-purple-3;
}

.badge-purple-4 {
  background-color: $color-purple-4;
}

.badge-purple-5 {
  background-color: $color-purple-5;
}

.badge-purple-6 {
  background-color: $color-purple-6;
}


.badge-grey-0 {
  background-color: $color-grey-0;
}

.badge-grey-1 {
  background-color: $color-grey-1;
}

.badge-grey-2 {
  background-color: $color-grey-2;
}

.badge-grey-3 {
  background-color: $color-grey-3;
}

.badge-grey-4 {
  background-color: $color-grey-4;
}

.badge-grey-5 {
  background-color: $color-grey-5;
}

.badge-grey-6 {
  background-color: $color-grey-6;
}

.badge-black-1 {
  background-color: $color-black-1;
}

.badge-black-2 {
  background-color: $color-black-2;
}

.badge-black-3 {
  background-color: $color-black-3;
}

.badge-black-4 {
  background-color: $color-black-4;
}

.badge-black-5 {
  background-color: $color-black-5;
}

.badge-black-6 {
  background-color: $color-black-6;
}


.badge-empty {
  background-color: $gray-lighter;
  color: darken($gray-lighter, 20);
}
