// Custom badges for crafting tab

.badge-stone {
  background-color: $color-stone;
}

.badge-copper {
  background-color: $color-copper;
}

.badge-iron {
  background-color: $color-iron;
}

.badge-steel {
  background-color: $color-steel;
}

.badge-carbon {
  background-color: $color-carbon;
}

.badge-mithril {
  background-color: $color-mithril;
}

.badge-adamantium {
  background-color: $color-adamantium;
}

.badge-orichalcum {
  background-color: $color-orichalcum;
}

.badge-cobalt {
  background-color: $color-cobalt;
}

.badge-fairy-steel {
  background-color: $color-fairy-steel;
}

.badge-cursed {
  background-color: $color-cursed;
}

.badge-empty {
  background-color: $gray-lighter;
  color: darken($gray-lighter, 20);
}
