// For Party, as it will be the parties id
.direct-chat-text, .direct-chat-name, .chat-Party {
  color: $brand-primary !important;
}

.chat-General {
  color: black !important;
}

.chat-Help {
  color: #EC407A !important;
}

.chat-Game {
  color: $brand-danger !important;
}

.chat-LFG {
  color: $brand-info !important;
}

.chat-Offtopic {
  color: $color-purple-1 !important;
}

body {
  .direct-chat-info {
    display: flex;
    flex: 1;
    align-items: center;
    margin-bottom: 0px;
    margin-right: 0px;
    width: 100%;
    white-space: nowrap;
  }

  .direct-chat-timestamp {
    font-family: 'Courier';
    font-size: 12px;
    color: #CCC;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .direct-chat-msg {
    margin-bottom: 0px;
    display: block;

    & > .direct-chat-text {
      color: black !important;
    }
  }

  .direct-chat-messages {
    display: flex;
    flex: 1;
    height: 290px;
  }

  .box-footer {
    display: flex;
    flex: 1;
  }

  .direct-chat-text {
    margin: 0 !important;
    border-radius: 0;
    padding: 0;
    background: none;
    border: none;
    display: block;

    &::after, &::before {
      display: none;
    }
  }

  .direct-chat-text, .direct-chat-info {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}

.chat-container.minimized {
  display: none;
}

.box-footer {
  border-bottom: 1px solid #f4f4f4;
}

.scroll-height {
  width: 100%;
}

@media (min-width: 768px) {
  .chat-container {
    width: 550px;
    height: 370px;
    position: fixed;
    border: 1px solid $gray-lighter;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
    background-color: white;
    bottom: 0px;
    right: 15px;
    z-index: 15;
  }

  .btn-send {
    margin-left: 10px;
  }

  .chat-type-dropdown {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .chat-container {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: inherit;
  }

  .message-mobile-info {
    padding: 0 10px 10px 10px;
  }

  body .box-footer {
    flex-direction: column;
    padding: 5px 0 0 0;
  }

  #simple-chat-message {
    border: 0;
    display: flex;
  }

  body .box-body {
    padding: 5px 10px 5px 10px;
    overflow: hidden;
    border-top: 1px solid #DFDFDF;
  }
}

body .maximize-icon {
  cursor: pointer;
  padding: 10px;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 1px solid $gray-lighter;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.15);
  background-color: white;
  pointer-events: all;
}

body .minimize-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  padding: 2px;
  z-index: 50;
  cursor: pointer;
  pointer-events: all;
}
