// For Party, as it will be the parties id
.direct-chat-text, .direct-chat-name, .chat-Party {
  color: $brand-primary !important;
}

.chat-General {
  color: black !important;
}

.chat-Help {
  color: #EC407A !important;
}

.chat-Game {
  color: $brand-danger !important;
}

.chat-LFG {
  color: $brand-info !important;
}

.chat-Offtopic {
  color: $color-purple-1 !important;
}

body {
  .direct-chat-info {
    display: block;
    margin-bottom: 0;
    margin-right: $spacer / 2;
    float: left;
    white-space: nowrap;
  }

  .direct-chat-timestamp.pull-right {
    font-family: 'Courier';
    font-size: 14px;
    float: none !important;
  }

  .direct-chat-name.pull-left {
    float: none !important;
  }

  .direct-chat-msg {
    margin-bottom: 0;
    display: flex;
  }

  .direct-chat-messages {
    height: 290px;
  }

  .direct-chat-text {
    margin: 0 !important;
    border-radius: 0;
    padding: 0;
    background: none;
    border: none;
    display: block;

    &::after, &::before {
      display: none;
    }
  }

  .direct-chat-text, .direct-chat-info {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}

.chat-container.minimized {
  display: none;
}

.chat-container.chat-page {
  border: 1px solid $gray-lighter;
  background-color: white;
  margin-bottom: $spacer;

  .direct-chat-messages {
    height: calc(100vh - 220px);
  }

  .nav-tabs {
    overflow-y: hidden;
    width: 100%;
    position: relative;
  }
}

.chat-container:not(.chat-page) {
  width: 550px;
  height: 370px;
  position: fixed;
  border: 1px solid $gray-lighter;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.15);
  background-color: white;
  bottom: 0;
  right: 15px;
  z-index: 15;

  .nav-tabs {
    overflow-y: hidden;
    width: 100%;
    position: relative;
  }
}

.box-footer {
  border-bottom: 1px solid #f4f4f4;
}

@media (max-width: 768px) {
  .chat-container:not(.chat-page) {
    width: 350px;
    height: inherit;
  }
}

body .maximize-icon {
  cursor: pointer;
  padding: 5px;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 1px solid $gray-lighter;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.15);
  background-color: white;
  pointer-events: all;
}

body .minimize-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  padding: 2px;
  z-index: 50;
  cursor: pointer;
  pointer-events: all;
}
