$color-grey-0: #5d5b5b;
$color-orange-1: #BE5B0C;
$color-grey-1: #5d5b5b;
$color-grey-2: #9ea4a6;
$color-black-1: #040305;
$color-blue-1: #4682B4;
$color-green-1: #20903e;
$color-yellow-1: #FFD700;
$color-blue-2: #0047AB;
$color-purple-1: #663399;
$color-red-1: #b61f15;
