$color-grey-0: #5d5b5b;
$color-grey-1: #869eac;
$color-grey-2: #535252;
$color-grey-3: #c8e0d5;
$color-grey-4: #9ea4a6;
$color-grey-5: #E5E4E2;
$color-grey-6: #b9bed0;

$color-black-1: #283359;
$color-black-2: #747c83;
$color-black-3: #1f1e1d;
$color-black-4: #494848;
$color-black-5: #473633;
$color-black-6: #484d5d;

$color-yellow-1: #ffd635;
$color-yellow-2: #FFD700;
$color-yellow-3: #eeff59;
$color-yellow-4: #ffd54e;
$color-yellow-5: #fffe4e;
$color-yellow-6: #d4ff38;

$color-orange-1: #BE5B0C;
$color-orange-2: #db5625;
$color-orange-3: #da5824;
$color-orange-4: #f7750f;
$color-orange-5: #bf7239;
$color-orange-6: #f3572d;

$color-red-1: #b61f15;
$color-red-2: #a81b14;
$color-red-3: #ce2017;
$color-red-4: #921912;
$color-red-5: #b63353;
$color-red-6: #b62a16;

$color-green-1: #20903e;
$color-green-2: #199028;
$color-green-3: #1a7634;
$color-green-4: #2bd259;
$color-green-5: #309030;
$color-green-6: #4f900a;

$color-blue-1: #0047AB;
$color-blue-2: #4682B4;
$color-blue-3: #271dab;
$color-blue-4: #043277;
$color-blue-5: #0952cc;
$color-blue-6: #022351;

$color-purple-1: #663399;
$color-purple-2: #811a99;
$color-purple-3: #412260;
$color-purple-4: #803c6d;
$color-purple-5: #8642cb;
$color-purple-6: #97368a;

.new-update-color {
  color: $color-orange-6 !important;
}
