$dark-bg-color: #202020;
$dark-fg-color: #2a2a2a;
$dark-uncraftable-color: #313131;
$dark-text-muted: #808385;

// Seems safe in every instance, if not a bit boring
$svg-transform-white: brightness(5.08) invert(100%);

// These colors cause weirdness in certain locations... the filters want to shade the entire image depending on the parent DOM container
$svg-transform-red: brightness(5.08) invert(100%) invert(42%) sepia(93%) saturate(10000%) hue-rotate(350deg)
    brightness(119%) contrast(119%);
$svg-transform-orange: brightness(5.08) invert(100%) invert(42%) sepia(93%) saturate(500%) brightness(119%)
    contrast(119%);
$svg-transform-yellow: brightness(5.08) invert(100%) invert(42%) sepia(93%) saturate(1500%) hue-rotate(33deg)
    brightness(119%) contrast(119%);
$svg-transform-green: brightness(5.08) invert(100%) invert(42%) sepia(93%) saturate(1500%) hue-rotate(87deg)
    brightness(119%) contrast(119%);
$svg-transform-blue: brightness(5.08) invert(100%) invert(42%) sepia(93%) saturate(10000%) hue-rotate(250deg)
    brightness(119%) contrast(119%);
$svg-transform-purple: brightness(5.08) invert(100%) invert(42%) sepia(93%) saturate(10000%) hue-rotate(267deg)
    brightness(119%) contrast(119%);
$svg-transform-brown: brightness(5.08) invert(100%) invert(42%) sepia(293%) saturate(150%) hue-rotate(350deg)
    brightness(75%) contrast(160%);
$svg-transform-black: brightness(5.08) invert(100%) invert(42%) sepia(293%) saturate(100%) brightness(0%) contrast(100%);
$svg-transform-gray: brightness(5.08) invert(100%) invert(100%) sepia(100%) saturate(0%) brightness(100%) contrast(22%);
$svg-transform-light-gray: brightness(5.08) invert(100%) invert(100%) sepia(100%) saturate(0%) brightness(100%)
    contrast(42%);
$svg-transform-beige: brightness(5.08) invert(100%) invert(42%) sepia(293%) saturate(50%) hue-rotate(33deg)
    brightness(119%) contrast(119%);
$svg-transform-gold: brightness(5.08) invert(100%) invert(42%) sepia(93%) saturate(500%) hue-rotate(14deg)
    brightness(119%) contrast(119%);
$svg-transform-magenta: brightness(5.08) invert(100%) invert(42%) sepia(93%) saturate(10000%) hue-rotate(294deg)
    brightness(100%) contrast(160%);
$svg-transform-pink: brightness(5.08) invert(100%) invert(42%) sepia(93%) saturate(10000%) hue-rotate(330deg)
    brightness(500%) contrast(45%);

html.dark {
    background-color: $dark-bg-color;
    color: #fff;

    img.discord {
        filter: invert(38%) sepia(61%) saturate(4153%) hue-rotate(224deg) brightness(99%) contrast(92%);
    }

    &.deploy_meteor,
    &.deploy_battle,
    &.deploy_all {
        .deploy-announcement {
            background-color: #662121 !important;
        }
    }

    body,
    .home-page-content > div,
    .live-feed-content > div {
        background-color: $dark-bg-color;
        color: #fff;
    }
    img.skill {
        filter: invert(1);
    }
    .required-weapon .weapon-type {
        filter: invert(1);
    }
    .highscore-skills-container .select-skill img {
        filter: invert(1);
    }
    .body-content {
        margin-bottom: 0;
    }
    nav {
        background-color: #151515 !important;
    }
    .nav-link,
    .side-link-item {
        color: #fff !important;
    }
    .side-link-item:hover {
        background-color: #151515 !important;
    }
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        background-color: #0275d8;
    }
    .text-muted {
        color: $dark-text-muted !important;
    }
    .home-page-content > div,
    .live-feed-content > div,
    .adventure-item-container,
    .icon-box-new,
    .icon-box-new > div {
        border-color: #151515 !important;
    }

    .navbar-toggleable-md .navbar-nav .nav-link.active {
        //background-color: #2699fc !important;
        text-shadow: 0 0 5px #0275d8, 0 0 11px #0275d8, 0 0 22px #0275d8, 0 0 42px #0275d8;
    }

    .navbar-toggleable-md .navbar-nav .nav-link:not(.active):hover {
        color: #2093ff !important;
        text-shadow: 0 0 22px #0275d8, 0 0 42px #0275d8;
    }

    .my-tooltip-inner {
        border: 1px solid rgba(255, 255, 255, 0.2) !important;
    }
    .popover-title {
        background-color: $dark-bg-color !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
        color: #fff !important;
    }
    .my-tooltip-inner {
        background-color: $dark-fg-color !important;
        color: #fff !important;
    }
    table {
        border-color: $dark-fg-color !important;
    }
    .icon-box {
        background-color: $dark-fg-color !important;
        border-color: #212121;
    }
    .icon-box.inactive {
        background-color: #202020 !important;
    }
    .farm-space-container.inactive > .icon-box {
        background-color: #202020 !important;
    }
    .icon-box.not-learnt {
        border: 3px solid black;
        background-color: #292929 !important;
        img {
            opacity: 0.6;
        }
    }
    .progress-bar {
        background-color: #005cbf !important;
    }
    .progress-bar.bg-warning {
        background-color: #f0ad4e !important;
    }
    .progress-bar.bg-danger {
        background-color: #d9534f !important;
    }
    .select-skill-active {
        background-color: #005cbf !important;
    }

    /* chat */
    .chat-container {
        background-color: #212121 !important;
        color: #000 !important;
        border-color: #000 !important;
    }
    .chat-container .nav-link {
        color: #fff !important;
    }
    .chat-minimized {
        color: #000 !important;
    }
    .box-body {
        background-color: $dark-fg-color !important;
    }
    body .direct-chat-msg > .direct-chat-text.chat-LFG,
    .chat-LFG {
        color: #47c2e4 !important;
    }
    body .direct-chat-msg > .direct-chat-text.chat-General,
    .chat-General {
        color: rgba(255, 255, 255, 0.7) !important;
    }
    body .direct-chat-msg > .direct-chat-text.chat-Game,
    .chat-Game {
        color: #f04737 !important;
    }
    body .direct-chat-msg > .direct-chat-text.chat-Party,
    .chat-Party {
        color: #2072f7 !important;
    }
    body .direct-chat-msg > .direct-chat-text.chat-Announcements,
    .chat-Announcements,
    .chat-Dev {
        color: #9767e0 !important;
    }
    body .direct-chat-msg > .direct-chat-text.chat-Server,
    .chat-Server {
        color: #5bb95b !important;
    }
    body .direct-chat-msg > .direct-chat-text.chat-Help,
    .chat-Help {
        color: #ff9267 !important;
    }
    .chat-container .box-footer {
        background-color: #212121 !important;
        color: #000 !important;
        border-color: #000 !important;
    }
    .chat-container .box-footer input {
        background-color: $dark-bg-color !important;
        color: #fff !important;
    }
    .chat-container .box-footer input::-webkit-input-placeholder {
        color: #fff !important;
    }
    .dropdown-menu {
        background-color: $dark-fg-color !important;
        color: #fff !important;
    }
    .dropdown-item:hover {
        background-color: #212121 !important;
    }

    /* hide LINKS on homepage */
    .mr-3.hidden-md-down .text-muted.mb-1 {
        display: none;
    }

    /* Firefox 18- */
    .chat-container .box-footer input:-moz-placeholder {
        color: #fff !important;
    }

    /* Firefox 19+ */
    .chat-container .box-footer input::-moz-placeholder {
        color: #fff !important;
    }
    .chat-container .box-footer input:-ms-input-placeholder {
        color: #fff !important;
    }
    .chat-container .box-footer .input-group .input-group-btn button {
        background-color: $dark-fg-color !important;
    }
    .chat-container .box-footer .input-group .input-group-btn .dropdown-menu {
        background-color: $dark-fg-color !important;
    }

    .chat-container .btn#message-send {
        color: #fff !important;
        background-color: $dark-fg-color !important;
        border-color: #000 !important;
    }

    .buff-remaining-time {
        color: #56f;
    }

    // Doesn't work (and be glad it doesn't, this would make every single .svg image white)
    /* img {
        fill: #fff !important;
    } */

    // selectively turn some .svg images white
    img[src*="icons/accuracy.svg"],
    img[src*="icons/add.svg"],
    img[src*="icons/adventureToken.svg"],
    img[src*="icons/amulet.svg"],
    img[src*="icons/ancientShard.svg"],
    img[src*="icons/armor.svg"],
    img[src*="icons/armorPenetration.svg"],
    img[src*="icons/armorReduction.svg"],
    img[src*="icons/armorUp.svg"],
    img[src*="icons/astronomy.svg"],
    img[src*="icons/attack.svg"],
    img[src*="icons/attackReduction.svg"],
    img[src*="icons/attackSpeed.svg"],
    img[src*="icons/babyFox.svg"],
    img[src*="icons/back.svg"],
    img[src*="icons/bagOfGems.svg"],
    img[src*="icons/basicDamage.svg"],
    img[src*="icons/basicDamageCrit.svg"],
    img[src*="icons/basicDamageMagic.svg"],
    img[src*="icons/battleAxe.svg"],
    img[src*="icons/bearTaunt.svg"],
    img[src*="icons/beggar.svg"],
    img[src*="icons/bison.svg"],
    img[src*="icons/bladeSlice.svg"],
    img[src*="icons/bladeSpin.svg"],
    img[src*="icons/boneWarrior.svg"],
    img[src*="icons/boot.svg"],
    img[src*="icons/boss.svg"],
    img[src*="icons/bossDemon.svg"],
    img[src*="icons/bossGenieLamp.svg"],
    img[src*="icons/bossMage.svg"],
    img[src*="icons/bossPoodle.svg"],
    img[src*="icons/bossWolf.svg"],
    img[src*="icons/bow.svg"],
    img[src*="icons/boxOfGems.svg"],
    img[src*="icons/bunchOfGems.svg"],
    img[src*="icons/butterfly.svg"],
    img[src*="icons/changeTarget.svg"],
    img[src*="icons/character.svg"],
    img[src*="icons/chatBubble.svg"],
    img[src*="icons/clickDamage.svg"],
    img[src*="icons/closedLock.svg"],
    img[src*="icons/cobra.svg"],
    img[src*="icons/combat.svg"],
    img[src*="icons/completeShard.svg"],
    img[src*="icons/counterAttack.svg"],
    img[src*="icons/crafting.svg"],
    img[src*="icons/criticalChance.svg"],
    img[src*="icons/cutPurse.svg"],
    img[src*="icons/dagger.svg"],
    img[src*="icons/defense.svg"],
    img[src*="icons/defensiveStance.svg"],
    img[src*="icons/doubleEdgedSword.svg"],
    img[src*="icons/dragon.svg"],
    img[src*="icons/dragonfly.svg"],
    img[src*="icons/duration.svg"],
    img[src*="icons/echidna.svg"],
    img[src*="icons/elementalShield.svg"],
    img[src*="icons/evasiveManeuvers.svg"],
    img[src*="icons/eventSPDheist.svg"],
    img[src*="icons/farplaneTwistedVeins.svg"],
    img[src*="icons/fish.svg"],
    img[src*="icons/flamebreath.svg"],
    img[src*="icons/fly.svg"],
    img[src*="icons/fox.svg"],
    img[src*="icons/frakenstein.svg"],
    img[src*="icons/furiedDefense.svg"],
    img[src*="icons/gathering.svg"],
    img[src*="icons/glasses.svg"],
    img[src*="icons/goat.svg"],
    img[src*="icons/gorillaLearning.svg"],
    img[src*="icons/hammer.svg"],
    img[src*="icons/health.svg"],
    img[src*="icons/healthMax.svg"],
    img[src*="icons/help.svg"],
    img[src*="icons/hive.svg"],
    img[src*="icons/honeycomb.svg"],
    img[src*="icons/inscription.svg"],
    img[src*="icons/kickInvite.svg"],
    img[src*="icons/leaderCrown.svg"],
    img[src*="icons/leave.svg"],
    img[src*="icons/lionBoss.svg"],
    img[src*="icons/longSword.svg"],
    img[src*="icons/mage.svg"],
    img[src*="icons/magic.svg"],
    img[src*="icons/magicPower.svg"],
    img[src*="icons/maximize.svg"],
    img[src*="icons/meditate.svg"],
    img[src*="icons/minimize.svg"],
    img[src*="icons/mining.svg"],
    img[src*="icons/monk.svg"],
    img[src*="icons/mouse.svg"],
    img[src*="icons/muscleMan.svg"],
    img[src*="icons/nullify.svg"],
    img[src*="icons/obsidianDwarvenIdol.svg"],
    img[src*="icons/obsidianEssenceScroll.svg"],
    img[src*="icons/obsidianPlateLegs.svg"],
    img[src*="icons/obsidianProspector.svg"],
    img[src*="icons/obsidianSpirit.svg"],
    img[src*="icons/openLock.svg"],
    img[src*="icons/page.svg"],
    img[src*="icons/penetratingSlash.svg"],
    img[src*="icons/personalQuest.svg"],
    img[src*="icons/plus.svg"],
    img[src*="icons/popOut.svg"],
    img[src*="icons/prospector.svg"],
    img[src*="icons/rapier.svg"],
    img[src*="icons/sharpRock.svg"],
    img[src*="icons/shield.svg"],
    img[src*="icons/shieldBash.svg"],
    img[src*="icons/shop.svg"],
    img[src*="icons/skunk.svg"],
    img[src*="icons/slash.svg"],
    img[src*="icons/smokeDagger.svg"],
    img[src*="icons/snakeSkinChest.svg"],
    img[src*="icons/spartan.svg"],
    img[src*="icons/spear.svg"],
    img[src*="icons/spikedArmor.svg"],
    img[src*="icons/spiritBlink.svg"],
    img[src*="icons/staff.svg"],
    img[src*="icons/subtract.svg"],
    img[src*="icons/swipe.svg"],
    img[src*="icons/thorsSkull.svg"],
    img[src*="icons/tome.svg"],
    img[src*="icons/total.svg"],
    img[src*="icons/tower.svg"],
    img[src*="icons/trident.svg"],
    img[src*="icons/vampire.svg"],
    img[src*="icons/wand.svg"],
    img[src*="icons/warCry.svg"],
    img[src*="icons/warden.svg"],
    img[src*="icons/warden_shield.svg"],
    img[src*="icons/woodcutter.svg"],
    img[src*="icons/woodcutting.svg"],
    img[src*="icons/worm.svg"],
    img[src*="icons/youngNinja"] {
        filter: $svg-transform-white;
    }

    // selectively turn some .svg images red
    img[src*="icons/thirstyFangs.svg"] {
        filter: $svg-transform-white;
    }

    // selectively turn some .svg images blue
    img[src*="icons/acaiBerry.svg"],
    img[src*="icons/acaiBerrySeed.svg"] {
        filter: $svg-transform-white;
    }

    // selectively turn some .svg images brown
    img[src*="icons/emptyFarmSpace.svg"],
    img[src*="icons/farmer.svg"],
    img[src*="icons/farming.svg"] {
        filter: $svg-transform-white;
    }

    // selectively turn some .svg images gold
    img[src*="icons/treasureChest.svg"] {
        filter: $svg-transform-white;
    }

    // selectively turn some .svg images pink
    img[src*="icons/healingPower.svg"] {
        filter: $svg-transform-white;
    }

    .modal-content {
        background-color: $dark-fg-color !important;
    }

    .attackSkill-tooltip-container .progress .progress-bar {
        background-color: #0275d8 !important;
    }
    .defenseSkill-tooltip-container .progress .progress-bar {
        background-color: #5cb85c !important;
    }
    .healthSkill-tooltip-container .progress .progress-bar {
        background-color: #d9534f !important;
    }
    .magicSkill-tooltip-container .progress .progress-bar {
        background-color: #5bc0de !important;
    }

    /* Make the "Loadout" bar same as background */
    .select-battle-container {
        border-top: none;
        background-color: $dark-bg-color !important;
    }
    .recipe-tooltip {
        color: $dark-text-muted;
    }
    .uncraftable {
        background-color: $dark-uncraftable-color !important;
        color: #fff !important;
        border: 1px solid #000 !important;
    }
    .single-craft {
        background-color: $dark-bg-color !important;
        color: #fff !important;
    }
    .quick-craft {
        background-color: $dark-bg-color !important;
        color: #fff !important;
    }

    /* Shop cards */
    .card {
        background-color: $dark-bg-color !important;
        border: 1px solid #000 !important;
    }

    /* small screens get a slight size bump */
    @media only screen and (min-width: 1280px) {
        .icon-box.mine-space-container {
            width: 96px;
            height: 96px;
        }
        .icon-box.mine-space-container .ore-icon {
            width: 64px;
            height: 64px;
        }
        .ore-list-item .icon-box.small-icon {
            width: 48px;
            height: 48px;
        }

        /* supposed to target the Mining tab mining pit flex div */
        #content > div.d-sm-flex.flex-grow > div.flex-grow > div.row > div.col-md-6:nth-child(1) > div {
            max-width: 640px !important;
        }

        /* supposed to target the Mining tab ores flex div */
        #content > div.d-sm-flex.flex-grow > div.flex-grow > div.row > div.col-md-6:nth-child(2) > div {
            max-height: 480px !important;
        }
    }

    /* in-betweeners just need a larger width on the mining pit to keep the 4x4 grid */
    @media only screen and (min-width: 1440px) {
        #content > div.d-sm-flex.flex-grow > div.flex-grow > div.row > div.col-md-6:nth-child(1) > div {
            max-width: 480px !important;
        }
    }

    /* Large Devices, Wide Screens, Best Value */
    @media only screen and (min-width: 1920px) {
        .icon-box.mine-space-container {
            width: 144px;
            height: 144px;
        }
        .icon-box.mine-space-container .ore-icon {
            width: 96px;
            height: 96px;
        }
        .ore-list-item .icon-box.small-icon {
            width: 64px;
            height: 64px;
        }
        /* supposed to target the Mining tab mining pit flex div */

        #content > div.d-sm-flex.flex-grow > div.flex-grow > div.row > div.col-md-6:nth-child(1) > div {
            max-width: 640px !important;
        }
        /* supposed to target the Mining tab ores flex div */

        #content > div.d-sm-flex.flex-grow > div.flex-grow > div.row > div.col-md-6:nth-child(2) > div {
            max-height: 640px !important;
        }
    }

    /* food countdown */
    .buff-icon-container.icon-box.medium-icon span,
    .food-icon-container.disabled .cooldown-text {
        color: #fff !important;
    }

    .dropdown-item:not(.change-chat) {
        color: #fff !important;
    }

    .progress.health-bar .progress-bar .health-bar div {
        // light more is: #D9534F
        background-color: #b9331a;
    }

    .progress.energy-bar .progress-bar .energy-bar div {
        // light mode is #F0AD4E
        background-color: #d08d2e;
    }

    /*
    .lobby-container .health-bar, .lobby-container .energy-bar {
        color: $dark-bg-color;
        text-shadow: 2px 2px 2px #fff, 2px -2px 2px #fff, -2px 2px 2px #fff, -2px -2px 2px #fff;
    }
    */

    /* battle abilities in combat */
    #content > div.d-sm-flex.flex-grow > div > div:nth-child(1) > div:nth-child(3) {
        background-color: $dark-bg-color !important;
    }

    /* Battle + xp text */
    .floating-text {
        background-color: $dark-fg-color !important;
    }
    .floating-text.animated.fadeOutUp {
        border-color: #000 !important;
    }

    /* Current user */
    button.btn.btn-secondary,
    button.btn.btn-secondary.dropdown-toggle {
        color: #fff;
        background-color: $dark-fg-color !important;
        border-color: #000 !important;
    }

    /* Current user dropdown */
    .dropdown-menu.dropdown-menu-right {
        background-color: $dark-fg-color !important;
        border-color: #000 !important;
    }
    .dropdown-menu.dropdown-menu-right .dropdown-item {
        color: #fff;
    }
    .btn-close-finishedBattle {
        color: #fff;
        background-color: $dark-fg-color !important;
        border-color: #000 !important;
    }

    // achievements page
    .achievements-page {
        .ignore-not-met-text .text-danger {
            color: $white !important;
        }
    }

    .player-skills-container,
    .floor-progression-container,
    .battle-unit-container {
        .progress {
            color: white;
            background-color: #444;
        }

        .progress-overlay {
            font-size: 11pt !important;
            color: white;
        }
    }

    .descriptive-section {
        color: white !important;
        background-color: #3f3f3f;
    }

    .style-active-class {
        background-color: #57473f;
    }

    a {
        color: #7f87ff;
    }

    button.close {
        color: white !important;
    }

    ::-webkit-scrollbar {
        width: 0.5em;
    }

    ::-webkit-scrollbar-track {
        background-color: #111;
        box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #0275d8;
        outline: 1px solid black;
        border-radius: 3px;
    }

    #PETQS_UI {
        background-color: transparent !important;
    }

    div.adventure-item-container {
        div[style*="color: #a00"] {
            color: #e43 !important;
        }

        div[style*="color: #00f"] {
            color: #56f !important;
        }
    }
}
