.nav-link {
  position: relative;
  white-space: nowrap;

  & > .red-dot {
    border-radius: 50%;
    background-color: $brand-danger;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 8px;
    right: 4px;
  }
}

@media (min-width: 768px) {
  .hide-on-desktop {
    display: none !important;
    visibility: hidden !important;
  }
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
    visibility: hidden !important;
  }
}

.navbar-toggleable-md .navbar-nav .nav-link.active {
  //background-color: #2699fc !important;
  text-shadow:
    0 0 11px white,
    0 0 22px white,
    0 0 42px white;
}

.navbar-toggleable-md .navbar-nav .nav-link:not(.active):hover {
  color: white;
  text-shadow:
    0 0 22px black,
    0 0 42px black;
}
