.nav-link {
  position: relative;
  white-space: nowrap;

  & > .red-dot {
    border-radius: 50%;
    background-color: $brand-danger;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 8px;
    right: 4px;
  }
}

@media (min-width: 768px) {
  .hide-on-desktop {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-on-mobile {
    visibility: hidden;
    display: none;
  }
}
