.tutorial-container {
  padding: 10px 10px 10px 10px;
  border: 1px solid #CDCDCD;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.tutorial-outer-container {
  position: absolute;
  top: 0;
  right: 16px;
}
