/* basic typeahead styles */

.tt-hint {
  color: #DDD
}

.tt-menu {
  width: 100%;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  color: #212529;
}

.tt-suggestion {
  padding: 5px 10px;
  font-size: 1rem;
  line-height: 1.25;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
