<template name="lobbyUnit">
  {{#if tiny}}
    <div class="d-flex flex-column">
      <div class="d-flex battle-unit-container flex-column align-items-center flex-wrap justify-content-center {{#if unit.isInvitee}}invitee-unit{{/if}}">
        <a href="/profile/{{unit.name}}">
          <img
              src="/icons/{{unit.icon}}"
              id={{unit.id}}
              data-unit-id={{unit.id}}
              class="icon-box battle-unit-tiny
                {{#if unit.leader}}leader-icon{{/if}}
                item-icon-container tiny"
          >
        </a>
        <div class="progress health-bar-tiny">
          <div class="progress-bar bg-danger" role="progressbar" style="width: {{healthPercentage}}%; height: 6px; max-height: 6px; line-height: 6px;" aria-valuenow="{{healthPercentage}}" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        <div class="progress energy-bar-tiny mt-1">
          <div class="progress-bar bg-warning" role="progressbar" style="width: {{energyPercentage}}%; height: 6px; max-height: 6px; line-height: 6px;" aria-valuenow="{{energyPercentage}}" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
      {{#if showBuffs}}
        <div class="d-flex flex-wrap buff-container">
          {{#each unit.buffs}}
            {{#unless this.data.hideBuff}}
              {{> buffIcon buff=this small=true}}
            {{/unless}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="d-flex flex-column">
      <div class="d-flex battle-unit-container flex-column align-items-center flex-wrap justify-content-center px-2 {{#if unit.isInvitee}}invitee-unit{{/if}}">
        <div class="d-flex justify-content-center" style="height: 24px">
          {{#if unit.isLeader}}
            <img src="/icons/leaderCrownYellow.svg" class="mr-1" width="24" height="24" />
          {{/if}}
          {{#if unit.isInvitee}}
            <i class="material-icons">hourglass_full</i>
          {{/if}}
          {{#each unit.buffs}}
            {{#unless this.data.hideBuff}}
              <img src="/icons/{{this.data.icon}}" width="24" height="24" />
            {{/unless}}
          {{/each}}
        </div>
        <a href="/profile/{{unit.name}}" class="text-muted">
          <span class="battle-unit-name">
            {{unit.name}}
          </span>
        </a>
        <a href="/profile/{{unit.name}}">
          <div style="position: relative;">
            <img
                src="/icons/{{unit.icon}}"
                id={{unit.id}}
                data-unit-id={{unit.id}}
                class="icon-box battle-unit
                  {{#if unit.leader}}leader-icon{{/if}}
                  {{#if isEnemy}}enemy-icon{{else}}friendly-icon{{/if}}
                  {{#if small}}item-icon-container small{{/if}}"
            >
            <img
                src="/icons/{{unit.classIcon}}"
                style="border: none; position: absolute; left: -12px; top: -12px; z-index: 14; width: 48px; height: 48px;"
            >
          </div>
        </a>
        <div class="progress health-bar">
          <div class="progress-bar bg-danger" role="progressbar" style="width: {{healthPercentage}}%" aria-valuenow="{{healthPercentage}}" aria-valuemin="0" aria-valuemax="100">
            <div class="health-bar d-flex justify-content-center">
              {{> formatNumber number=unit.stats.health}}
            </div>
          </div>
        </div>
        <div class="progress energy-bar mt-1">
          <div class="progress-bar bg-warning" role="progressbar" style="width: {{energyPercentage}}%" aria-valuenow="{{energyPercentage}}" aria-valuemin="0" aria-valuemax="100">
            <div class="health-bar d-flex justify-content-center">
              {{> formatNumber number=unit.stats.energy}}
            </div>
          </div>
        </div>
      </div>
      {{#if showBuffs}}
        <div class="d-flex flex-wrap buff-container">
          {{#each unit.buffs}}
            {{#unless this.data.hideBuff}}
              {{> buffIcon buff=this small=true}}
            {{/unless}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/if}}
</template>
