<template name="towerTab">
  <h1 class="d-flex">
    The Tower
    <div class="dropdown ml-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Floor {{usersCurrentFloor}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#each floorsList}}
          <a class="dropdown-item select-floor" href="#" data-floor={{this}}>Floor {{this}}</a>
        {{/each}}
      </div>
    </div>
  </h1>

  <!-- Make this a tooltip
  <p>
    The community works together to make progress in the tower.<br />
    When the community clears all the waves associated to a floor a boss becomes fightable.<br />
    Once the boss is defeated the next floor is unlocked for the entire community.<br />
  </p>
  -->

  {{#unless equippedItemsMap.mainHand}}
    <div class="alert alert-danger">
      Warning you don't have a weapon equipped! You can equip one in the 'Equipments and Stats' tab.
    </div>
  {{/unless}}

  {{#if currentCommunityfloor}}
    <p>
      <b>What</b><br />
      The community must work together to progress through the 'Eternal Tower'
    </p>
    <p>
      <b>Why</b><br />
      The top players in point contributions will recieve a powerful reward (see bottom of page)
    </p>
    <p>
      <b>How</b><br />
      Groups of 1-5 players.<br />
      Further you make it, more points you get.<br />
      3 official attempts a day.<br />
      Subsequent attempts won't contribute points.
    </p>

    <p>Current Progress: {{waveDetails.points}} / {{waveDetails.pointsMax}}</p>
    <label>
      Official Attempt
      <input type="checkbox">
    </label><br />
    <button class="btn btn-primary battle-deeper">Battle Deeper</button>
  {{else}}
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th class="align-middle text-center">Room #</th>
          <th class="align-middle text-center">Name</th>
          <th class="align-middle text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center battle-room-1-row cursor-pointer">
          <td class="align-middle">Room 1</td>
          <td class="align-middle">{{floorDetails.[1].name}}</td>
          <td class="align-middle">
            <button class="btn btn-secondary battle-room-1-btn">
              Battle
            </button>
          </td>
        </tr>
        <tr class="text-center battle-room-2-row cursor-pointer">
          <td class="align-middle">Room 2</td>
          <td class="align-middle">{{floorDetails.[2].name}}</td>
          <td class="align-middle">
            <button class="btn btn-secondary battle-room-2-btn">
              Battle
            </button>
          </td>
        </tr>
        <tr class="text-center battle-room-3-row cursor-pointer">
          <td class="align-middle">Room 3</td>
          <td class="align-middle">{{floorDetails.[3].name}}</td>
          <td class="align-middle">
            <button class="btn btn-secondary battle-room-3-btn">
              Battle
            </button>
          </td>
        </tr>
        <tr class="text-center battle-room-4-row cursor-pointer">
          <td class="align-middle">Room 4</td>
          <td class="align-middle">{{floorDetails.[4].name}}</td>
          <td class="align-middle">
            <button class="btn btn-secondary battle-room-4-btn">
              Battle
            </button>
          </td>
        </tr>
        <tr class="text-center battle-room-5-row cursor-pointer">
          <td class="align-middle">Room 5</td>
          <td class="align-middle">{{floorDetails.[5].name}}</td>
          <td class="align-middle">
            <button class="btn btn-secondary battle-room-5-btn">
              Battle
            </button>
          </td>
        </tr>
        <tr class="text-center battle-room-6-row cursor-pointer">
          <td class="align-middle">Room 6</td>
          <td class="align-middle">{{floorDetails.[6].name}}</td>
          <td class="align-middle">
            <button class="btn btn-secondary battle-room-6-btn">
              Battle
            </button>
          </td>
        </tr>
        <tr class="text-center battle-room-7-row cursor-pointer">
          <td class="align-middle">Room 7</td>
          <td class="align-middle">{{floorDetails.[7].name}}</td>
          <td class="align-middle">
            <button class="btn btn-secondary battle-room-7-btn">
              Battle
            </button>
          </td>
        </tr>
        {{#if waveDetails}}
          <tr class="text-center {{#if cantBossBattle}}disabled-row{{/if}} battle-boss-row cursor-pointer">
            <td class="align-middle">Final Room</td>
            <td class="align-middle"></td>
            <td class="align-middle text-center">
              {{#if $gte (moDiff bossResetDate moNow 'minutes') 60}}
                Resets in {{moDiff bossResetDate moNow 'hours'}} hours
              {{else}}
                Resets in {{moDiff bossResetDate moNow 'minutes'}} minutes
              {{/if}}
            </td>
            <td class="align-middle">
              {{> formatNumber waveDetails.health}} / {{> formatNumber waveDetails.healthMax}}
            </td>
            <td class="align-middle">
              <button class="btn btn-danger battle-boss-btn {{#if cantBossBattle}}disabled{{/if}}">
                Boss Battle
              </button>
            </td>
          </tr>
        {{/if}}
      </tbody>
    </table>
  {{/if}}

  {{#if currentCommunityfloor}}
    <h2 class="d-flex mt-3">
      <span class="mr-1">Floor Rewards</span>
      {{> helpIcon title='How to get rewards' content=floorRewardsHelpContent}}
    </h2>
    <div class="d-flex align-items-center">
      <img src="/icons/treasureChest.svg" class="large-icon">
      {{#each floorDetails.rewards}}
        <div class="icon-box item-icon-container small ml-3">
          {{ > recipeIcon recipe=this}}
        </div> x {{this.amount}}
      {{/each}}
    </div>
  {{/if}}

</template>
