<template name="towerTab">
  <h1 class="d-flex">
    The Tower
    <div class="dropdown ml-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Floor {{usersCurrentFloor}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#each floorsList}}
          <a class="dropdown-item select-floor" href="#" data-floor={{this}}>Floor {{this}}</a>
        {{/each}}
      </div>
    </div>
  </h1>

  <!-- Make this a tooltip
  <p>
    The community works together to make progress in the tower.<br />
    When the community clears all the waves associated to a floor a boss becomes fightable.<br />
    Once the boss is defeated the next floor is unlocked for the entire community.<br />
  </p>
  -->

  <!-- Post fight banner -->
  {{#if finishedBattle}}
    <div class="d-flex alert alert-secondary" role="alert">
      {{#if finishedBattle.win}}
        <strong class="text-success d-flex align-items-center mr-1">Victory</strong>
      {{else}}
        <strong class="text-danger d-flex align-items-center mr-1">Defeat</strong>
      {{/if}}

      <div class="d-flex align-items-center" style="flex: 1 1 auto">
        {{#each finishedBattle.finalTickEvents}}
          {{#if $eq this.type 'xp'}}
            <div class="ml-1">
              +{{this.amount}} <i class="lilIcon-{{this.skill}}"></i>
            </div>
          {{/if}}

          {{#if $eq this.type 'item'}}
            <div class="ml-1 d-flex align-items-center">
              +{{this.amount}}
              <img src="/icons/{{this.icon}}.svg" class="small-icon">
            </div>
          {{/if}}

          {{#if $eq this.type 'gold'}}
            <div class="ml-1 d-flex align-items-center">
              +{{this.amount}}
              <img src="/icons/gold.svg" class="small-icon">
            </div>
          {{/if}}
        {{/each}}
      </div>
      <button type="button" class="btn btn-sm btn-secondary btn-close-finishedBattle">Close</button>
    </div>
  {{/if}}

  {{#unless equippedItemsMap.mainHand}}
    <div class="alert alert-danger">
      Warning you don't have a weapon equipped! You can equip one in the 'Equipments and Stats' tab.
    </div>
  {{/unless}}

  <!-- List stuff! -->
  <table class="table table-responsive">
    <thead>
      <tr>
        <th class="align-middle text-center">Name</th>
        <th class="align-middle text-center">Image</th>
        {{#if waveDetails}}
          <th class="align-middle text-center">
            Remaining Waves 
          </th>
        {{/if}}
        <th class="align-middle text-center">Difficulty</th>
        <th class="align-middle text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td class="align-middle">{{floorDetails.easy.name}}</td>
        <td class="align-middle"><img src="images/{{floorDetails.easy.image}}" class="floor-image"></td>
        {{#if waveDetails}}
          <td class="align-middle text-center">
            {{waveDetails.easyWaves}} / {{waveDetails.easyWavesTotal}}
          </td>
        {{/if}}
        <td class="align-middle">Easy</td>
        <td class="align-middle">
          <button class="btn btn-secondary battle-easy-btn">
            Find Battle
          </button>
        </td>
      </tr>
      <tr class="text-center">
        <td class="align-middle">{{floorDetails.hard.name}}</td>
        <td class="align-middle"><img src="images/{{floorDetails.hard.image}}" class="floor-image"></td>
        {{#if waveDetails}}
          <td class="align-middle text-center">
            {{waveDetails.hardWaves}} / {{waveDetails.hardWavesTotal}}
          </td>
        {{/if}}
        <td class="align-middle">Hard</td>
        <td class="align-middle">
          <button class="btn btn-secondary battle-hard-btn">
            Find Battle
          </button>
        </td>
      </tr>
      <tr class="text-center">
        <td class="align-middle">{{floorDetails.veryHard.name}}</td>
        <td class="align-middle"><img src="images/{{floorDetails.veryHard.image}}" class="floor-image"></td>
        {{#if waveDetails}}
          <td class="align-middle text-center">
            {{waveDetails.veryHardWaves}} / {{waveDetails.veryHardWavesTotal}}
          </td>
        {{/if}}
        <td class="align-middle">Very Hard</td>
        <td class="align-middle">
          <button class="btn btn-secondary battle-veryHard-btn">
            Find Battle
          </button>
        </td>
      </tr>
      {{#if waveDetails}}
        <tr class="text-center {{#if cantBossBattle}}disabled-row{{/if}}">
          <td class="align-middle">Final Room</td>
          <td class="align-middle"></td>
          <td class="align-middle text-center">
            1
          </td>
          <td class="align-middle">
            {{> formatNumber waveDetails.health}} / {{> formatNumber waveDetails.healthMax}}
          </td>
          <td class="align-middle">
            <button class="btn btn-danger battle-boss-btn {{#if cantBossBattle}}disabled{{/if}}">
              Boss Battle
            </button>
          </td>
        </tr>
      {{/if}}
    </tbody>
  </table>

  {{#if waveDetails}}
    <h2 class="d-flex">
      <span class="mr-1">Floor Rewards</span>
      {{> helpIcon title='How to get rewards' content=floorRewardsHelpContent}}
    </h2>
    <div class="d-flex align-items-center">
      <img src="/icons/treasureChest.svg" class="large-icon">
      {{#each floorDetails.rewards}}
        <div class="icon-box item-icon-container small ml-3">
          {{ > recipeIcon recipe=this}}
        </div> x {{this.amount}}
      {{/each}}
    </div>
  {{/if}}

</template>
