<template name="towerTab">
  <h1 class="d-flex">
    The Tower
    <div class="dropdown ml-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Floor {{usersCurrentFloor}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#each floorsList}}
          <a class="dropdown-item select-floor" href="#" data-floor={{this}}>Floor {{this}}</a>
        {{/each}}
      </div>
    </div>
  </h1>

  <!-- Make this a tooltip
  <p>
    The community works together to make progress in the tower.<br />
    When the community clears all the waves associated to a floor a boss becomes fightable.<br />
    Once the boss is defeated the next floor is unlocked for the entire community.<br />
  </p>
  -->

  {{#unless equippedItemsMap.mainHand}}
    <div class="alert alert-danger">
      Warning you don't have a weapon equipped! You can equip one in the 'Equipments and Stats' tab.
    </div>
  {{/unless}}

  {{#if currentCommunityfloor}}
    <div style="margin-top: 50px; margin-bottom: 50px;">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div>Current Progress: {{waveDetails.points}} / {{waveDetails.pointsMax}}</div>
        <label class="official-attempt mb-1">
          Official Attempt ({{combat.towerContributionsToday}} / 3)
          <input type="checkbox" checked={{combat.isTowerContribution}}>
        </label>
        <button class="btn btn-primary battle-deeper">Battle Deeper</button>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center my-3">
        <div>
          Boss {{> formatNumber waveDetails.health}} / {{> formatNumber waveDetails.healthMax}}
        </div>
        {{#if $gte (moDiff bossResetDate moNow 'minutes') 60}}
          Resets in {{moDiff bossResetDate moNow 'hours'}} hours
        {{else}}
          Resets in {{moDiff bossResetDate moNow 'minutes'}} minutes
        {{/if}}
        <button class="btn btn-danger battle-boss-btn mt-1 {{#if cantBossBattle}}disabled{{/if}}">
          Battle
        </button>
      </div>
    </div>
  {{else}}
    <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th class="align-middle text-center">Room #</th>
          <th class="align-middle text-center">Name</th>
          <th class="align-middle text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center battle-room-1-row cursor-pointer">
          <td class="align-middle">Room 1</td>
          <td class="align-middle">{{floorDetails.[1].name}}</td>
          <td class="align-middle">
            <button class="btn btn-secondary battle-room-1-btn">
              Battle
            </button>
          </td>
        </tr>
        <tr class="text-center battle-room-2-row cursor-pointer">
          <td class="align-middle">Room 2</td>
          <td class="align-middle">{{floorDetails.[2].name}}</td>
          <td class="align-middle">
            <button class="btn btn-secondary battle-room-2-btn">
              Battle
            </button>
          </td>
        </tr>
        <tr class="text-center battle-room-3-row cursor-pointer">
          <td class="align-middle">Room 3</td>
          <td class="align-middle">{{floorDetails.[3].name}}</td>
          <td class="align-middle">
            <button class="btn btn-secondary battle-room-3-btn">
              Battle
            </button>
          </td>
        </tr>
        <tr class="text-center battle-room-4-row cursor-pointer">
          <td class="align-middle">Room 4</td>
          <td class="align-middle">{{floorDetails.[4].name}}</td>
          <td class="align-middle">
            <button class="btn btn-secondary battle-room-4-btn">
              Battle
            </button>
          </td>
        </tr>
        <tr class="text-center battle-room-5-row cursor-pointer">
          <td class="align-middle">Room 5</td>
          <td class="align-middle">{{floorDetails.[5].name}}</td>
          <td class="align-middle">
            <button class="btn btn-secondary battle-room-5-btn">
              Battle
            </button>
          </td>
        </tr>
        <tr class="text-center battle-room-6-row cursor-pointer">
          <td class="align-middle">Room 6</td>
          <td class="align-middle">{{floorDetails.[6].name}}</td>
          <td class="align-middle">
            <button class="btn btn-secondary battle-room-6-btn">
              Battle
            </button>
          </td>
        </tr>
        <tr class="text-center battle-room-7-row cursor-pointer">
          <td class="align-middle">Room 7</td>
          <td class="align-middle">{{floorDetails.[7].name}}</td>
          <td class="align-middle">
            <button class="btn btn-secondary battle-room-7-btn">
              Battle
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  {{/if}}

  {{#if currentCommunityfloor}}

    <h2 class="d-flex mt-3">
      <span class="mr-1">Floor Rewards</span>
      {{> helpIcon title='How to get rewards' content=floorRewardsHelpContent}}
    </h2>

    <div class="d-flex align-items-center">
      <img src="/icons/treasureChest.svg" class="large-icon">
      {{#each floorDetails.rewards}}
        <div class="icon-box item-icon-container small ml-3">
          {{ > recipeIcon recipe=this}}
        </div> x {{this.amount}}
      {{/each}}
    </div>
  {{/if}}

</template>
