<template name="buffIcon">
  <div class="buff-icon-container icon-box {{#if small}}small-icon{{else}}medium-icon{{/if}}" style="position: relative">
    <img src="/icons/{{buff.data.icon}}" class="small-icon">
    {{#if buff.data.stacks}}
      <span style="position: absolute; bottom: 1px; right: 1px; font-size: 10px;
        line-height: 10px;">
        {{buff.data.stacks}}
      </span>
    {{else if $lt (moDiff buff.data.endDate moNow 'seconds') 59}}
      {{#if small}}
        <span style="position: absolute; bottom: 1px; right: 1px; font-size: 10px;
          line-height: 10px;">
          {{moDiff buff.data.endDate moNow 'seconds'}}
        </span>
      {{else}}
        <span class="text-muted" style="position: absolute; bottom: 2px; right: 2px; font-size: 10px; line-height: 10px;">
          {{moDiff buff.data.endDate moNow 'seconds'}}
        </span>
      {{/if}}
    {{else if $lte buff.data.duration 59}}
      {{#if small}}
        <span style="position: absolute; bottom: 1px; right: 1px; font-size: 10px;
          line-height: 10px;">
          {{> formatNumber number=buff.data.duration}}
        </span>
      {{else}}
        <span class="text-muted" style="position: absolute; bottom: 2px; right: 2px; font-size: 10px; line-height: 10px;">
          {{> formatNumber number=buff.data.duration}}
        </span>
      {{/if}}
    {{/if}}
  </div>

  <!-- Icon Tooltip -->
  <div class="buff-tooltip-content my-tooltip-inner">
    <h3 class='popover-title text-capitalize'>
      {{buff.data.name}}
    </h3>
    <div class='popover-content'>
      {{{buff.data.description}}}
    </div>
  </div>

</template>
