<template name="abilityIconOther">
  <div class="item-icon-container item {{classes}} icon-box" style="position: relative" data-id="{{ability.abilityId}}">
    {{#if needsIcons}}
      <div style="position: absolute; left: 2px; top: 0" class="required-weapon">
        {{#if ability.isPacifist}}
          <img
            src="/icons/pacifist.svg"
            style="height: 20px; width: 20px;">
        {{/if}}
        
        {{#each ability.requires}}
          {{#if $eq this.type 'weaponType'}}
            {{#each this.weaponTypes}}
              <img
                class="weapon-type"
                src="/icons/{{this}}.svg"
                style="height: 20px; width: 20px;">
            {{/each}}
          {{/if}}
        {{/each}}
        
        {{#each ability.cantUseWith}}
          {{#if $eq this.type 'weaponType'}}
            {{#each this.weaponTypes}}
              <img
                src="/icons/forbidden.svg"
                style="position: absolute; top: 0; left: 0; height: 20px; width: 20px;">
              <img
                class="weapon-type"
                src="/icons/{{this}}.svg"
                style="position: absolute; top: 0; left: 0; height: 20px; width: 20px;">
            {{/each}}
          {{/if}}
        {{/each}}
      </div>
    {{/if}}

    <img src="/icons/{{ability.icon}}" class="item-icon">

    <!-- Icon Tooltip -->
    {{#unless hideTooltip}}
    <div class="item-tooltip-content my-tooltip-inner">
      <h3 class='popover-title text-capitalize'>
        {{name}}
      </h3>
      <div class='popover-content'>
        <div style='max-width: 350px;'>
          {{#if description}}
            {{{description}}}<br />
          {{/if}}
        </div>
      </div>
    </div>
    {{/unless}}
  </div>

</template>
