<template name="skillHeader"> 
  <div class="d-flex my-3 align-items-center">
    <i class="lilIcon-{{skill.type}} medium-icon"></i>
    <h1 class="ml-1 mb-0">
      Level {{skill.level}}
    </h1>
    {{#if skill}}
      <small class="mx-3">{{ > formatNumber number=skill.xp}} / {{ > formatNumber number=skill.xpToLevel}} XP</small>
    {{/if}}
    {{#each allGlobalBuffs}}
      {{> globalBuffIcon type=this.name date=this.value.activeTo level=this.value.level}}
    {{/each}}
  </div>
</template>
