<template name="selectAbilitiesPage">
    <div class="container mt-2">
        <h4 class="d-flex align-items-center">
            Equipped Abilities
            <button class="btn btn-secondary remove-all-abilities-btn" style="margin-left: 20px;">Remove All</button>
        </h4>
        <div class="d-flex flex-wrap mb-3">
            
            {{#if classFeatureUnlocked}}
                <!-- Main Hand -->
                {{#if equippedAbilitiesMap.mainHand}}
                    {{> abilityLibraryIcon item=equippedAbilitiesMap.mainHand}}
                {{else}}
                    <div class="icon-box" style="text-align: center;">
                        1
                        {{#if $neq isTactician true}}
                            <br />Active
                        {{/if}}
                    </div>
                {{/if}}
                <!-- Off Hand -->
                {{#if equippedAbilitiesMap.offHand}}
                    {{> abilityLibraryIcon item=equippedAbilitiesMap.offHand}}
                {{else}}
                    <div class="icon-box" style="text-align: center;">
                        2
                        {{#if $neq isTactician true}}
                            <br />Active
                        {{/if}}
                    </div>
                {{/if}}
                <!-- Head -->
                {{#if equippedAbilitiesMap.head}}
                    {{> abilityLibraryIcon item=equippedAbilitiesMap.head}}
                {{else}}
                    <div class="icon-box" style="text-align: center;">
                        3
                        {{#if $neq isTactician true}}
                            <br />Active
                        {{/if}}
                    </div>
                {{/if}}
                <!-- Chest -->
                {{#if equippedAbilitiesMap.chest}}
                    {{> abilityLibraryIcon item=equippedAbilitiesMap.chest}}
                {{else}}
                    <div class="icon-box" style="text-align: center;">
                        4
                        {{#if $neq isTactician true}}
                            <br />Active
                        {{/if}}
                    </div>
                {{/if}}
                <!-- Legs -->
                {{#if equippedAbilitiesMap.legs}}
                    {{> abilityLibraryIcon item=equippedAbilitiesMap.legs}}
                {{else}}
                    <div class="icon-box" style="text-align: center;">
                        5
                        {{#if $neq isTactician true}}
                            <br />Active
                        {{/if}}
                    </div>
                {{/if}}
                <!-- classAbil1 -->
                {{#if equippedAbilitiesMap.classAbil1}}
                    {{> abilityLibraryIcon item=equippedAbilitiesMap.classAbil1}}
                {{else}}
                    <div class="icon-box" style="text-align: center;">
                        6
                        {{#if $neq isTactician true}}
                            <br />Passive
                        {{/if}}
                    </div>
                {{/if}}
                <!-- classAbil2 -->
                {{#if equippedAbilitiesMap.classAbil2}}
                    {{> abilityLibraryIcon item=equippedAbilitiesMap.classAbil2}}
                {{else}}
                    <div class="icon-box" style="text-align: center;">
                        7
                        {{#if $neq isTactician true}}
                            <br />Passive
                        {{/if}}
                    </div>
                {{/if}}
                <!-- classAbil3 -->
                {{#if equippedAbilitiesMap.classAbil3}}
                    {{> abilityLibraryIcon item=equippedAbilitiesMap.classAbil3}}
                {{else}}
                    <div class="icon-box" style="text-align: center;">
                        8
                        {{#if $neq isTactician true}}
                            <br />Passive
                        {{/if}}
                    </div>
                {{/if}}
            {{else}}
                <!-- Main Hand -->
                {{#if equippedAbilitiesMap.mainHand}}
                    {{> abilityLibraryIcon item=equippedAbilitiesMap.mainHand}}
                {{else}}
                    <div class="icon-box">
                        1
                    </div>
                {{/if}}
                <!-- Off Hand -->
                {{#if equippedAbilitiesMap.offHand}}
                    {{> abilityLibraryIcon item=equippedAbilitiesMap.offHand}}
                {{else}}
                    <div class="icon-box">
                        2
                    </div>
                {{/if}}
                <!-- Head -->
                {{#if equippedAbilitiesMap.head}}
                    {{> abilityLibraryIcon item=equippedAbilitiesMap.head}}
                {{else}}
                    <div class="icon-box">
                        3
                    </div>
                {{/if}}
                <!-- Chest -->
                {{#if equippedAbilitiesMap.chest}}
                    {{> abilityLibraryIcon item=equippedAbilitiesMap.chest}}
                {{else}}
                    <div class="icon-box">
                        4
                    </div>
                {{/if}}
                <!-- Legs -->
                {{#if equippedAbilitiesMap.legs}}
                    {{> abilityLibraryIcon item=equippedAbilitiesMap.legs}}
                {{else}}
                    <div class="icon-box">
                        5
                    </div>
                {{/if}}
            {{/if}}
            <!-- Companion -->
            {{#if equippedAbilitiesMap.companion}}
                {{> abilityLibraryIcon item=equippedAbilitiesMap.companion}}
            {{else}}
                <div class="icon-box">
                    Companion
                </div>
            {{/if}}
        </div>

        <div class="p-1">
            {{#if availableTomes}}
                <h1>Available Tomes</h1>
                <div class="d-flex flex-wrap">
                    {{#each availableTomes}}
                        {{> itemIcon item=this classes="small"}}
                    {{/each}}
                </div>
            {{/if}}
        </div>

        <div class="p-1">
            <h3>Library</h3>
            <p>
                You can learn abilities by crafting tomes in inscription, then come back to this page and read it. Abilities are sorted by companions, passives, actives, passive magic, and active spells.
            </p>
            <div class="d-flex flex-wrap" style="margin-top: 6px;">
                Learned: Active Use
            </div>
            <div class="d-flex flex-wrap" style="margin-top: -2px; margin-bottom: 18px;">
                {{#if abilityLibrary.learntActive}}
                    {{#each abilityLibrary.learntActive}}
                        {{> abilityLibraryIcon item=this}}
                    {{/each}}
                {{else}}
                    <i>None</i>
                {{/if}}
            </div>
            <div class="d-flex flex-wrap" style="margin-top: 6px;">
                Learned: Passive Effect
            </div>
            <div class="d-flex flex-wrap" style="margin-top: -2px; margin-bottom: 18px;">
                {{#if abilityLibrary.learntPassive}}
                    {{#each abilityLibrary.learntPassive}}
                        {{> abilityLibraryIcon item=this}}
                    {{/each}}
                {{else}}
                    <i>None</i>
                {{/if}}
            </div>
            <div class="d-flex flex-wrap" style="margin-top: 6px;">
                Learned: Spells
            </div>
            <div class="d-flex flex-wrap" style="margin-top: -2px; margin-bottom: 18px;">
                {{#if abilityLibrary.learntSpells}}
                    {{#each abilityLibrary.learntSpells}}
                        {{> abilityLibraryIcon item=this}}
                    {{/each}}
                {{else}}
                    <i>None</i>
                {{/if}}
            </div>
            {{#if abilityLibrary.learntClass}}
                <div class="d-flex flex-wrap" style="margin-top: 6px;">
                    Class Exclusive
                </div>
                <div class="d-flex flex-wrap" style="margin-top: -2px; margin-bottom: 18px;">
                    {{#each abilityLibrary.learntClass}}
                        {{> abilityLibraryIcon item=this}}
                    {{/each}}
                </div>
            {{/if}}
            <div class="d-flex flex-wrap" style="margin-top: 6px;">
                Companions
            </div>
            <div class="d-flex flex-wrap" style="margin-top: -2px; margin-bottom: 18px;">
                {{#if abilityLibrary.learntCompanions}}
                    {{#each abilityLibrary.learntCompanions}}
                        {{> abilityLibraryIcon item=this}}
                    {{/each}}
                {{else}}
                    <i>None</i>
                {{/if}}
            </div>
            <div class="d-flex flex-wrap" style="margin-top: 6px;">
                Unlearned
            </div>
            <div class="d-flex flex-wrap" style="margin-top: -2px; margin-bottom: 18px;">
                {{#if abilityLibrary.notLearnt}}
                    {{#each abilityLibrary.notLearnt}}
                        {{> abilityLibraryIcon item=this}}
                    {{/each}}
                {{else}}
                    <i>None</i>
                {{/if}}
            </div>
            <p>
                <br />
            </p>
        </div>

        <div class="select-battle-container">
            <button class="btn btn-primary back-to-loadout-btn">Back to loadout</button>
        </div>
    </div>
</template>