<template name="loadoutPage">
  <div class="container mt-2">
    {{#if classFeatureUnlocked}}
    <h4 class="d-flex align-items-center">
      Class
    </h4>
    <div class="d-flex flex-wrap mb-3">
      <div class="mr-2 hidden-sm-down" style="line-height: 2.33em;">Active Class</div>
      <div class="dropdown">
          <button class="btn btn-secondary mr-3 dropdown-toggle text-capitalize" type="button"
              id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{currentClass}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item select-class" data-class="wanderer" href="#">Wanderer</a>
              <a class="dropdown-item select-class" data-class="barbarian" href="#">Barbarian</a>
              <a class="dropdown-item select-class" data-class="duelist" href="#">Duelist</a>
              <a class="dropdown-item select-class" data-class="paladin" href="#">Paladin</a>
              <a class="dropdown-item select-class" data-class="ranger" href="#">Ranger</a>
              <a class="dropdown-item select-class" data-class="sage" href="#">Sage</a>
              <a class="dropdown-item select-class" data-class="tactician" href="#">Tactician</a>
              <a class="dropdown-item select-class" data-class="warmage" href="#">War Mage</a>
              <a class="dropdown-item select-class" data-class="wizard" href="#">Wizard</a>
          </div>
        </div>
        <div class="mr-2 hidden-sm-down" style="line-height: 2.33em; margin-top: -10px;"><img width="56" height="56" src="/icons/{{currentClassIcon}}" style="border: none; width: 56px; height: 56px;" /></div>
      </div>
    {{/if}}
    <h4 class="d-flex align-items-center">
      Gear
      <a href="#" class="ml-3 edit-gear-btn" style="font-size: 14px">Edit</a>
      <a href="#" class="ml-3 remove-all-gear-btn" style="font-size: 14px">Remove All</a>
    </h4>
    <div class="d-flex flex-wrap mb-3">
      <!-- Main Hand -->
      {{#if equippedItemsMap.mainHand}}
        {{> itemIcon item=equippedItemsMap.mainHand}}
      {{else}}
        <div class="icon-box">
          Main Hand
        </div>
      {{/if}}
      <!-- Off Hand -->
      {{#if equippedItemsMap.offHand}}
        {{> itemIcon item=equippedItemsMap.offHand}}
      {{else}}
        <div class="icon-box">
          Off Hand
        </div>
      {{/if}}
      <!-- Neck -->
      {{#if equippedItemsMap.neck}}
        {{> itemIcon item=equippedItemsMap.neck}}
      {{else}}
        <div class="icon-box">
          Neck
        </div>
      {{/if}}
      <!-- Head -->
      {{#if equippedItemsMap.head}}
        {{> itemIcon item=equippedItemsMap.head}}
      {{else}}
        <div class="icon-box">
          Head
        </div>
      {{/if}}
      <!-- Chest -->
      {{#if equippedItemsMap.chest}}
        {{> itemIcon item=equippedItemsMap.chest}}
      {{else}}
        <div class="icon-box">
          Chest
        </div>
      {{/if}}
      <!-- Legs -->
      {{#if equippedItemsMap.legs}}
        {{> itemIcon item=equippedItemsMap.legs}}
      {{else}}
        <div class="icon-box">
          Legs
        </div>
      {{/if}}
    </div>
    <h4 class="d-flex align-items-center">
      Abilities
      <a href="#" class="ml-3 edit-abilities-btn" style="font-size: 14px">Edit</a>
      <a href="#" class="ml-3 remove-all-abilities-btn" style="font-size: 14px">Remove All</a>
    </h4>
    <div class="d-flex flex-wrap mb-3">
      {{#if classFeatureUnlocked}}
        <!-- Main Hand -->
        {{#if equippedAbilitiesMap.mainHand}}
            {{> abilityLibraryIcon item=equippedAbilitiesMap.mainHand}}
        {{else}}
            <div class="icon-box" style="text-align: center;">
                1
                {{#if $neq isTactician true}}
                    <br />Active
                {{/if}}
            </div>
        {{/if}}
        <!-- Off Hand -->
        {{#if equippedAbilitiesMap.offHand}}
            {{> abilityLibraryIcon item=equippedAbilitiesMap.offHand}}
        {{else}}
            <div class="icon-box" style="text-align: center;">
                2
                {{#if $neq isTactician true}}
                    <br />Active
                {{/if}}
            </div>
        {{/if}}
        <!-- Head -->
        {{#if equippedAbilitiesMap.head}}
            {{> abilityLibraryIcon item=equippedAbilitiesMap.head}}
        {{else}}
            <div class="icon-box" style="text-align: center;">
                3
                {{#if $neq isTactician true}}
                    <br />Active
                {{/if}}
            </div>
        {{/if}}
        <!-- Chest -->
        {{#if equippedAbilitiesMap.chest}}
            {{> abilityLibraryIcon item=equippedAbilitiesMap.chest}}
        {{else}}
            <div class="icon-box" style="text-align: center;">
                4
                {{#if $neq isTactician true}}
                    <br />Active
                {{/if}}
            </div>
        {{/if}}
        <!-- Legs -->
        {{#if equippedAbilitiesMap.legs}}
            {{> abilityLibraryIcon item=equippedAbilitiesMap.legs}}
        {{else}}
            <div class="icon-box" style="text-align: center;">
                5
                {{#if $neq isTactician true}}
                    <br />Active
                {{/if}}
            </div>
        {{/if}}
        <!-- classAbil1 -->
        {{#if equippedAbilitiesMap.classAbil1}}
            {{> abilityLibraryIcon item=equippedAbilitiesMap.classAbil1}}
        {{else}}
            <div class="icon-box" style="text-align: center;">
                6
                {{#if $neq isTactician true}}
                    <br />Passive
                {{/if}}
            </div>
        {{/if}}
        <!-- classAbil2 -->
        {{#if equippedAbilitiesMap.classAbil2}}
            {{> abilityLibraryIcon item=equippedAbilitiesMap.classAbil2}}
        {{else}}
            <div class="icon-box" style="text-align: center;">
                7
                {{#if $neq isTactician true}}
                    <br />Passive
                {{/if}}
            </div>
        {{/if}}
        <!-- classAbil3 -->
        {{#if equippedAbilitiesMap.classAbil3}}
            {{> abilityLibraryIcon item=equippedAbilitiesMap.classAbil3}}
        {{else}}
            <div class="icon-box" style="text-align: center;">
                8
                {{#if $neq isTactician true}}
                    <br />Passive
                {{/if}}
            </div>
        {{/if}}
      {{else}}
        <!-- Main Hand -->
        {{#if equippedAbilitiesMap.mainHand}}
            {{> abilityLibraryIcon item=equippedAbilitiesMap.mainHand}}
        {{else}}
            <div class="icon-box">
                1
            </div>
        {{/if}}
        <!-- Off Hand -->
        {{#if equippedAbilitiesMap.offHand}}
            {{> abilityLibraryIcon item=equippedAbilitiesMap.offHand}}
        {{else}}
            <div class="icon-box">
                2
            </div>
        {{/if}}
        <!-- Head -->
        {{#if equippedAbilitiesMap.head}}
            {{> abilityLibraryIcon item=equippedAbilitiesMap.head}}
        {{else}}
            <div class="icon-box">
                3
            </div>
        {{/if}}
        <!-- Chest -->
        {{#if equippedAbilitiesMap.chest}}
            {{> abilityLibraryIcon item=equippedAbilitiesMap.chest}}
        {{else}}
            <div class="icon-box">
                4
            </div>
        {{/if}}
        <!-- Legs -->
        {{#if equippedAbilitiesMap.legs}}
            {{> abilityLibraryIcon item=equippedAbilitiesMap.legs}}
        {{else}}
            <div class="icon-box">
                5
            </div>
        {{/if}}
      {{/if}}
      <!-- Companion -->
      {{#if equippedAbilitiesMap.companion}}
          {{> abilityLibraryIcon item=equippedAbilitiesMap.companion}}
      {{else}}
          <div class="icon-box">
              Companion
          </div>
      {{/if}}
    </div>
    <h4>Skins</h4>
    <div class="d-flex flex-wrap mb-3">
      {{#each skinsLibrary}}
        {{> skinLibraryIcon skin=this}}
      {{/each}}
    </div>

    <div class="d-flex flex-grow justify-content-center" style="margin-top: 30px">
      <button class="btn btn-primary continue-btn" style="width: 150px">Back to lobby</button>
    </div>
  </div>
</template>

<template name="skinLibraryIcon">
  <div class="icon-box p-3
    {{#if skin.disabled}} cursor-not-allowed{{else}} cursor-pointer{{/if}}
    {{#if skin.disabled}} disabled{{/if}}
    {{#if skin.selected}} equipped-icon{{/if}}">
    <img src="/icons/{{skin.icon}}">
  </div>

  <!-- Icon Tooltip -->
  <div class="skin-tooltip-content my-tooltip-inner">
    <h3 class='popover-title text-capitalize'>
      {{skin.name}}
    </h3>
    <div class='popover-content'>
      <div style='max-width: 350px;'>
        {{{description}}}
      </div>
    </div>
  </div>
</template>
