<template name="battleTab">
  {{#if currentBattle}}
    <div class="d-flex">
      <div
        class="col d-flex flex-column justify-content-end align-items-center"
        style="border-right: 1px solid #dfdfdf">
        <h1>My Units</h1>
        <div class="d-flex flex-row flex-wrap">
          {{#each currentBattle.units}}
            {{> battleUnit unit=this}}
          {{/each}}
        </div>
      </div>
      <div class="col d-flex flex-column justify-content-start align-items-center">
        <h1>Enemy Units</h1>
        <div class="d-flex flex-row flex-wrap">
          {{#each currentBattle.enemies}}
            {{> battleUnit unit=this}}
          {{/each}}
        </div>
      </div>
    </div>
  {{else}}
    <h1>The Tower - Floor {{usersCurrentFloor}}</h1>
    <!-- Make this a tooltip
    <p>
      The community works together to make progress in the tower.<br />
      When the community clears all the waves associated to a floor a boss becomes fightable.<br />
      Once the boss is defeated the next floor is unlocked for the entire community.<br />
    </p>
    -->

    <!-- Post fight banner -->
    {{#if finishedBattle}}
      <div class="d-flex alert alert-secondary" role="alert">
        {{#if finishedBattle.win}}
          <strong class="text-success d-flex align-items-center mr-1">Victory</strong>
        {{else}}
          <strong class="text-danger d-flex align-items-center mr-1">Defeat</strong>
        {{/if}}

        <div class="d-flex align-items-center" style="flex: 1 1 auto">
          {{#each finishedBattle.finalTickEvents}}
            {{#if $eq this.type 'xp'}}
              <div class="ml-1">
                +{{this.amount}} <i class="lilIcon-{{this.skill}}"></i>
              </div>
            {{/if}}

            {{#if $eq this.type 'item'}}
              <div class="ml-1 d-flex align-items-center">
                +{{this.amount}}
                <img src="/icons/{{this.icon}}.svg" class="small-icon">
              </div>
            {{/if}}
          {{/each}}
        </div>
        <button type="button" class="btn btn-sm btn-secondary btn-close-finishedBattle">Close</button>
      </div>
    {{/if}}

    <!-- List stuff! -->
    <table class="table">
      <thead>
        <tr>
          <th class="align-middle text-center">Name</th>
          <th class="align-middle text-center">Image</th>
          {{#if waveDetails}}
            <th class="align-middle text-center">
              Remaining Waves 
            </th>
          {{/if}}
          <th class="align-middle text-center">Difficulty</th>
          <th class="align-middle text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td class="align-middle">{{floorDetails.easy.name}}</td>
          <td class="align-middle"><img src="images/{{floorDetails.easy.image}}" class="floor-image"></td>
          {{#if waveDetails}}
            <td class="align-middle text-center">
              {{waveDetails.easyWaves}} / {{waveDetails.easyWavesTotal}}
            </td>
          {{/if}}
          <td class="align-middle">Easy</td>
          <td class="align-middle">
            <button class="btn btn-danger battle-easy-btn mt-3">
              Find Battle
            </button>
          </td>
        </tr>
        <tr class="text-center">
          <td class="align-middle">{{floorDetails.hard.name}}</td>
          <td class="align-middle"><img src="images/{{floorDetails.hard.image}}" class="floor-image"></td>
          {{#if waveDetails}}
            <td class="align-middle text-center">
              {{waveDetails.hardWaves}} / {{waveDetails.hardWavesTotal}}
            </td>
          {{/if}}
          <td class="align-middle">Hard</td>
          <td class="align-middle">
            <button class="btn btn-danger battle-hard-btn mt-3">
              Find Battle
            </button>
          </td>
        </tr>
        <tr class="text-center">
          <td class="align-middle">{{floorDetails.veryHard.name}}</td>
          <td class="align-middle"><img src="images/{{floorDetails.veryHard.image}}" class="floor-image"></td>
          {{#if waveDetails}}
            <td class="align-middle text-center">
              {{waveDetails.veryHardWaves}} / {{waveDetails.veryHardWavesTotal}}
            </td>
          {{/if}}
          <td class="align-middle">Very Hard</td>
          <td class="align-middle">
            <button class="btn btn-danger battle-veryHard-btn mt-3">
              Find Battle
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  {{/if}}


</template>
