<template name="battleTab">
  {{#if currentBattle}}
    <div class="d-flex justify-content-center my-3">
      Game Timer - {{currentBattle.tick}}
    </div>
    <div class="d-flex">
      <div
        class="col d-flex flex-column justify-content-end align-items-center"
        style="border-right: 1px solid #dfdfdf">
        <h1>My Units</h1>
        <div class="d-flex flex-row flex-wrap">
          {{#each currentBattle.units}}
            <div class="d-flex flex-column align-items-center justify-content-center">
              {{> battleUnit unit=this}}
            </div>
          {{/each}}
        </div>
      </div>
      <div class="col d-flex flex-column justify-content-start align-items-center">
        <h1>Enemy Units</h1>
        <div class="d-flex flex-row flex-wrap">
          {{#each currentBattle.enemies}}
            <div class="d-flex flex-column align-items-center justify-content-center mx-2">
              {{> battleUnit unit=this}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{else}}
    <button class="btn btn-danger battle-btn mt-3">
      Find Battle
    </button>
  {{/if}}

  <!-- Modal -->
  <div class="modal battleTabModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">
            {{#if finishedBattle.win}}
              <span class="text-success">Victory</span>
            {{else}}
              <span class="text-danger">Defeat</span>
            {{/if}}
          </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{#each finishedBattle.finalTickEvents}}
            {{#if $eq this.type 'xp'}}
              +{{this.amount}} <i class="lilIcon-{{this.skill}}"></i> xp<br />
            {{/if}}

            {{#if $eq this.type 'item'}}
              <div class="d-flex align-items-center">
                +{{this.amount}}
                <img src="/icons/{{this.icon}}.svg" class="small-icon">
              </div>
            {{/if}}
          {{/each}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
