<template name="battleUnit">
  <div class="d-flex flex-column align-items-center justify-content-center mx-2">
    {{#if unit.name}}
      <span class="text-capitalize">{{unit.name}}</span>
    {{/if}}
    <img
      src="/icons/{{unit.icon}}.svg"
      id={{unit.id}}
      data-unit-id={{unit.id}}
      class="icon-box {{#if isEnemy}}enemy-icon{{/if}}">
    <div class="health-bar d-flex justify-content-center">
      {{> formatNumber unit.stats.health}} / {{unit.stats.healthMax}}
    </div>
    <div class="progress health-bar">
      <div class="progress-bar bg-danger" role="progressbar" style="width: {{healthPercentage}}%" aria-valuenow="{{healthPercentage}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</template>
