<template name="battleUnit">
  <div class="d-flex flex-column">
    <div class="d-flex flex-column align-items-center flex-wrap justify-content-center px-2" style="max-width: 120px;">
      {{#if unit.name}}
        <span class="text-capitalize battle-unit-name">{{unit.name}}</span>
      {{/if}}
      <img
        src="/icons/{{unit.icon}}.svg"
        id={{unit.id}}
        data-unit-id={{unit.id}}
        class="icon-box
          {{#if unit.leader}}leader-icon{{/if}}
          {{#if isEnemy}}enemy-icon{{else}}friendly-icon{{/if}}
          {{#if small}}item-icon-container small{{/if}}">
      <div class="health-bar d-flex justify-content-center">
        {{> formatNumber number=unit.stats.health}} / {{> formatNumber number=unit.stats.healthMax}}
      </div>      
      <div class="progress health-bar">
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{healthPercentage}}%" aria-valuenow="{{healthPercentage}}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    {{#if showBuffs}}
      <div class="d-flex flex-wrap" style="width: 120px">
        {{#each unit.buffs}}
          {{#unless this.data.hideBuff}}
            {{> buffIcon buff=this small=true}}
          {{/unless}}
        {{/each}}
      </div>
    {{/if}}
  </div>
</template>
