<template name="battleUnit">
  <object
    data="/icons/{{unit.icon}}.svg"
    id={{unit.id}}
    class="icon-box"
    type="image/svg+xml">
  </object>
  <div class="health-bar d-flex justify-content-center">
    {{> formatNumber unit.stats.health}} / {{unit.stats.maxHealth}}
  </div>
  <div class="progress health-bar">
    <div class="progress-bar bg-danger" role="progressbar" style="width: {{healthPercentage}}%" aria-valuenow="{{healthPercentage}}" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</template>
