<template name="override-atPwdFormBtn">
  <button type="submit" class="at-btn submit btn btn-lg btn-block btn-primary {{submitDisabled}}" id="at-btn">
    {{buttonText}}
  </button>
</template>

<template name="override-fullPageAtForm">
  <div class="container d-flex justify-content-center mt-3">
    <div style="width: 470px">
      {{> atForm}}
    </div>
  </div>
</template>

<template name="override-atError">
  <div class="at-error alert alert-danger">
    {{#each error}}
      <div>{{errorText}}</div>
    {{/each}}
  </div>
</template>

<template name="override-atNavButton">
  {{#if $eq text 'Sign Out'}}
    <a class="dropdown-item navbar-btn" style="cursor: pointer" id="at-nav-button">
      {{text}}
    </a>
  {{else}}
    <button type="button" id="at-nav-button" class="btn btn-secondary navbar-btn">{{text}}</button>
  {{/if}}
</template>

<template name="playAsGuestBtn">
  <button type="button" class="btn btn-secondary btn-block play-as-guest-btn mt-3 {{#if creatingGuest}}disabled{{/if}}">
    {{#if creatingGuest}}
      Creating guest account...
    {{else}}
      Play as guest
    {{/if}}
  </button>
  <div class="mt-1">
    By clicking play as guest, you agree to the <a href="https://termsfeed.com/terms-conditions/b98f2c54772bbdad930ef49ca134b8f7">Terms of Service</a>
  </div>
  <br />
</template>

<template name="override-atPwdForm">
  <div class="at-pwd-form">
    <form role="form" id="at-pwd-form" novalidate action="#" method="POST">
      <fieldset {{disabled}}>
        {{#each fields}}
          {{> atInput}}
        {{/each}}
        {{#if showReCaptcha}}
          {{> atReCaptcha}}
        {{/if}}
        {{> atPwdFormBtn}}
        {{#if showForgotPasswordLink}}
          {{> playAsGuestBtn}}
          {{> atPwdLink}}
        {{else}}
          <div class="mt-1">
            By clicking register, you agree to the <a href="https://termsfeed.com/terms-conditions/b98f2c54772bbdad930ef49ca134b8f7">Terms of Service</a>
          </div>
        {{/if}}
      </fieldset>
    </form>
  </div>
</template>
