<template name="otherBattlersPage">
  <div class="container mt-2">
    <div class="mb-1 text-muted">
      Parties Battling <span class="text-primary">{{otherBattlers.length}}</span>
    </div>
    {{#each otherBattlers}}
      {{> otherBattlersRow row=this}}
    {{/each}}

    <div class="select-battle-container">
      <button class="btn btn-primary back-to-lobby-btn">Back to lobby</button>
    </div>
  </div>
</template>

<template name="otherBattlersRow">
  <div class="recent-battling-row">
    <span class="mr-3">Floor {{row.floor}}</span>
    
    <span class="badge {{#if row.inBattle}}badge-success{{else}}badge-info{{/if}} mr-3" style="width: 120px;">
      {{#if row.inBattle}}
        Battling for
      {{else}}
        Fought
      {{/if}}

      {{#if $lte (moDiff moNow row.lastBattleStarted 'seconds') 60}}          
        {{moDiff moNow row.lastBattleStarted 'seconds'}}s
      {{else}}
        {{moDiff moNow row.lastBattleStarted 'minutes'}}m
      {{/if}}

      {{#unless row.inBattle}}
        ago
      {{/unless}}
    </span>
    <span class="mr-3 d-flex users-row">
      {{#each row.membersObject}}
        <span class="badge badge-invisible mr-1">{{this.name}} {{this.averageCombat}}&#x2B50;</span>
      {{/each}}
    </span>
    <div class="d-flex flex-grow actions-row justify-content-end">
      <span class="mr-3">{{row.battleCount}} Battles</span>
      <button class="btn btn-secondary btn-spectate-group btn-sm mr-1" data-id="{{row._id}}" disabled="{{$not row.inBattle}}">
        Spectate
      </button>
      <button class="btn btn-primary btn-join-group btn-sm" data-id="{{row._id}}">
        Join
      </button>
    </div>
  </div>
</template>
