<template name="spellBookTab">
  {{> skillHeader skill=magicSkill}}

  <div class="p-1">
    <h2>Spell Book</h2>

    <table class="table table-bordered table-centered table-responsive" style="width: auto">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" class="hidden-xs-down" style="text-align: left;">Name</th>
          <th scope="col" style="text-align: left;">Each Cast Costs</th>
          <th scope="col" style="text-align: left;">Magic XP Per Cast</th>
        </tr>  
      </thead>
      <tbody>
        {{#each spellList}}
          <tr>
            <td>{{> abilityLibraryIcon classes='tiny' item=this}}</td>
            <td class="text-capitalize hidden-xs-down" style="text-align: left;">{{this.name}}</td>
            <td style="text-align: left;">
              {{#each requiredCosts}}
                {{{requiredCost}}}
              {{/each}}
            </td>
            <td style="text-align: left;">
              {{> formatNumber number=totalCastXp}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</template>
