<template name="craftingList">

  {{#if abilityRecipes}}
    <div class="mb-1">
      <h3>Abilities</h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each abilityRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if pigmentRecipes}}
    <div class="mb-1">
      <h3>Pigments</h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each pigmentRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if enchantmentRecipes}}
    <div class="mb-1">
      <h3>Enchantments</h3>
      <div class="alert alert-danger"><b>ENCHANTMENTS ARE IN BETA</b>
        <ul>
          <li>All enchantments will be removed from items after beta.</li>
          <li>Do not craft more than you need (stockpiling will negatively affect performance. All will be removed).</li>
          <li>Expect recipe and effects will change after beta.</li>
        </ul>
      </div>
      <div class="alert alert-info">
        <ul>
          <li>Enchantments can only be applied to <b>crafted equipment</b> and <b>wizard</b> drops.</li>
          <li>Each enchantment applies to a specific wearable slot.</li>
          <li>Items can be enchanted once.</li>
          <li>To remove enchantment, use <b>Nullify Enchantment</b>.</li>
        </ul>
      </div>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each enchantmentRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if paperRecipes}}
    <div class="mb-1">
      <h3>Paper</h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each paperRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if bookRecipes}}
    <div class="mb-1">
      <h3>Books</h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each bookRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if magicBookRecipes}}
    <div class="mb-1">
      <h3>Magic Books</h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each magicBookRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if xpRecipes}}
    <div class="mb-1">
      <h3>Walls & Pylons <small>(XP)</small></h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each xpRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if goldRecipes}}
    <div class="mb-1">
      <h3>Sculptures & Stones <small>(Gold)</small></h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each goldRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if barRecipes}}
    <div class="mb-1">
      <h3>Bars</h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each barRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if miscRecipes}}
    <div class="mb-1">
      <h3>Misc</h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each miscRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if miningRecipes}}
    {{#if $eq recipeFilter 'all'}}
      <h3>Mining</h3>
    {{/if}}
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
      {{#each miningRecipes}}
        {{ > recipeIcon recipe=this isInscription=isInscription}}
      {{/each}}
    </div>
  {{/if}}

  {{#if woodcuttingRecipes}}
    {{#if $eq recipeFilter 'all'}}
      <h3>Woodcutting</h3>
    {{/if}}
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
      {{#each woodcuttingRecipes}}
        {{ > recipeIcon recipe=this isInscription=isInscription}}
      {{/each}}
    </div>
  {{/if}} 

  {{#if furnaceRecipes}}
    <div class="mb-1">
      <h3>Furnaces</h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each furnaceRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}   

  {{#if armorRecipes}}
    <div class="mb-1">
      <h3>Armor</h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each armorRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if weaponRecipes}}
    <div class="mb-1">
      <h3>Weapons</h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each weaponRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if staffRecipes}}
    <div class="mb-1">
      <h3>Staffs</h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each staffRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if amuletRecipes}}
    <div class="mb-1">
      <h3>Amulets</h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each amuletRecipes}}
          {{ > recipeIcon recipe=this isInscription=isInscription}}
        {{/each}}
      </div>
    </div>
  {{/if}}
</template>
