<template name="combatAbilitiesTab">
  <div class="p-1">
    <h3>My Abilities</h3>
    <b>Click on learnt abilities in your library below to equip them.</b>
    <div class="d-flex flex-wrap">
      <!-- Main Hand -->
      {{#if equippedAbilitiesMap.mainHand}}
        {{> abilityLibraryIcon item=equippedAbilitiesMap.mainHand}}
      {{else}}
        <div class="icon-box">
          Main Hand
        </div>
      {{/if}}
      <!-- Off Hand -->
      {{#if equippedAbilitiesMap.offHand}}
        {{> abilityLibraryIcon item=equippedAbilitiesMap.offHand}}
      {{else}}
        <div class="icon-box">
          Off Hand
        </div>
      {{/if}}
      <!-- Head -->
      {{#if equippedAbilitiesMap.head}}
        {{> abilityLibraryIcon item=equippedAbilitiesMap.head}}
      {{else}}
        <div class="icon-box">
          Head
        </div>
      {{/if}}
      <!-- Chest -->
      {{#if equippedAbilitiesMap.chest}}
        {{> abilityLibraryIcon item=equippedAbilitiesMap.chest}}
      {{else}}
        <div class="icon-box">
          Chest
        </div>
      {{/if}}
      <!-- Legs -->
      {{#if equippedAbilitiesMap.legs}}
        {{> abilityLibraryIcon item=equippedAbilitiesMap.legs}}
      {{else}}
        <div class="icon-box">
          Legs
        </div>
      {{/if}}
    </div>
  </div>
  <div class="p-1">
    {{#if availableTomes}}
      <h1>Available Tomes</h1>
      <div class="d-flex flex-wrap">
        {{#each availableTomes}}
          {{> itemIcon item=this classes="small"}}
        {{/each}}
      </div>
    {{/if}}
  </div>
  <div class="p-1">
    <h3>Library</h3>
    <p>
      You can learn abilities by crafting tomes in inscription, then come back to this page and read it.
    </p>
    <div class="d-flex flex-wrap" style="max-width: 80%">
      {{#each abilityLibrary}}
        {{> abilityLibraryIcon item=this}}
      {{/each}}
    </div>
  </div>
</template>
