<template name="itemList">

  {{#if visibleItems}}
    <div class="mb-1">
      <h3>Visible Items</h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each items}}
		    {{> itemIcon item=this classes="small"}}
		{{/each}}
      </div>
    </div>
  {{/if}}

  {{#if hiddenItems}}
    <div class="mb-1">
      <h3>Hidden Items</h3>
      <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        {{#each items}}
		    {{> itemIcon item=this classes="small"}}
		{{/each}}
      </div>
    </div>
  {{/if}}

</template>
