<template name="itemList">

  {{#if $and (visibleItems) (hiddenItems)}}
    <div class="mb-1">
      <div class="d-flex align-items-center mb-1">
        <h3 class="mb-0 mr-auto">All Items</h3>
        {{#if sellItems}}
          <i class="material-icons icon-danger multiSellConfirm">shopping_cart</i>
          <i class="material-icons multiSellCancel">clear</i>
        {{else}}
          <i class="material-icons multiSellStart">shopping_cart</i>
        {{/if}}
      </div>
      <div class="d-flex flex-wrap">
        {{#each allItems}}
          {{> itemIcon item=this classes="small"}}
        {{/each}}
      </div>
    </div>
  {{else}}
    {{#if visibleItems}}
      <div class="mb-1">
        <div class="d-flex align-items-center mb-1">
          <h3 class="mb-0 mr-auto">Visible Items</h3>
          {{#if sellItems}}
            <i class="material-icons icon-danger multiSellConfirm">shopping_cart</i>
            <i class="material-icons multiSellCancel">clear</i>
          {{else}}
            <i class="material-icons multiSellStart">shopping_cart</i>
          {{/if}}
        </div>
        <div class="d-flex flex-wrap">
          {{#each visibleItems}}
            {{> itemIcon item=this classes="small"}}
          {{/each}}
        </div>
      </div>
    {{/if}}

    {{#if hiddenItems}}
      <div class="mb-1">
        <div class="d-flex align-items-center mb-1">
          <h3 class="mb-0 mr-auto">Hidden Items</h3>
          {{#if sellItems}}
            <i class="material-icons icon-danger multiSellConfirm">shopping_cart</i>
            <i class="material-icons multiSellCancel">clear</i>
          {{else}}
            <i class="material-icons multiSellStart">shopping_cart</i>
          {{/if}}
        </div>
        <div class="d-flex flex-wrap">
          {{#each hiddenItems}}
            {{> itemIcon item=this classes="small"}}
          {{/each}}
        </div>
      </div>
    {{/if}}
  {{/if}}

  <div class="modal confirmSellModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sell Items</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="mb-3">Really sell the selected items?</p>
          <div class="d-flex">
            <button class="btn btn-danger modalButtonConfirm ml-auto">Yes</button>
            <button class="btn btn-success modalButtonCancel ml-2">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
