<template name="itemList">

  {{#if $and (visibleItems) (hiddenItems)}}
    <div class="mb-1">
      <div class="d-flex align-items-center mb-1">
        <h3 class="mb-0 mr-auto">All Items</h3>
        {{#if sellItems}}
          {{> iconWithTooltip materialIcon=true classes="material-icons icon-danger multiSellConfirm" icon="shopping_cart" title="Multi-Sell Confirm" content=multiSellConfirmHelp }}
          {{> iconWithTooltip materialIcon=true classes="material-icons multiSellSelectAll" icon="done_all" style="color: orange;" title="Multi-Sell Select All" content=multiSelectHelp }}
          {{> iconWithTooltip materialIcon=true classes="material-icons multiSellCancel" icon="clear" title="Multi-Sell Cancel" content=multiCancelHelp }}
        {{else if showItems}}
          {{> iconWithTooltip materialIcon=true classes="material-icons icon-danger multiShowConfirm" icon="unarchive" title="Multi-Show Confirm" content=multiShowConfirmHelp }}
          {{> iconWithTooltip materialIcon=true classes="material-icons multiShowSelectAll" icon="done_all" style="color: orange;" title="Multi-Show Select All" content=multiSelectHelp }}
          {{> iconWithTooltip materialIcon=true classes="material-icons multiShowCancel" icon="clear" title="Multi-Show Cancel" content=multiCancelHelp }}
        {{else if hideItems}}
          {{> iconWithTooltip materialIcon=true classes="material-icons icon-danger multiHideConfirm" icon="archive" title="Multi-Hide Confirm" content=multiHideConfirmHelp }}
          {{> iconWithTooltip materialIcon=true classes="material-icons multiHideSelectAll" icon="done_all" style="color: orange;" title="Multi-Hide Select All" content=multiSelectHelp }}
          {{> iconWithTooltip materialIcon=true classes="material-icons multiHideCancel" icon="clear" title="Multi-Hide Cancel" content=multiCancelHelp }}
        {{else if lockItems}}
          {{> iconWithTooltip materialIcon=true classes="material-icons icon-danger multiLockConfirm" icon="lock" title="Multi-Lock Confirm" content=multiLockConfirmHelp }}
          {{> iconWithTooltip materialIcon=true classes="material-icons multiLockSelectAll" icon="done_all" style="color: orange;" title="Multi-Lock Select All" content=multiSelectHelp }}
          {{> iconWithTooltip materialIcon=true classes="material-icons multiLockCancel" icon="clear" title="Multi-Lock Cancel" content=multiCancelHelp }}
        {{else}}
          {{> iconWithTooltip materialIcon=true classes="material-icons multiLockStart" icon="lock" title="Multi-Lock" content=multiLockHelp }}
          {{> iconWithTooltip materialIcon=true classes="material-icons multiShowStart" icon="unarchive" title="Multi-Show" content=multiShowHelp }}
          {{> iconWithTooltip materialIcon=true classes="material-icons multiHideStart" icon="archive" title="Multi-Hide" content=multiHideHelp }}
          {{> iconWithTooltip materialIcon=true classes="material-icons multiSellStart" icon="shopping_cart" title="Multi-Sell" content=multiSellHelp }}
        {{/if}}
      </div>
      <div class="d-flex flex-wrap">
        {{#each allItems}}
          {{> itemIcon item=this classes="small" autoDisplay=true}}
        {{/each}}
      </div>
    </div>
  {{else}}
    {{#if visibleItems}}
      <div class="mb-1">
        <div class="d-flex align-items-center mb-1">
          <h3 class="mb-0 mr-auto">Visible Items</h3>
          {{#if sellItems}}
            {{> iconWithTooltip materialIcon=true classes="material-icons icon-danger multiSellConfirm" icon="shopping_cart" title="Multi-Sell Confirm" content=multiSellConfirmHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiSellSelectAll" icon="done_all" style="color: orange;" title="Multi-Sell Select All" content=multiSelectHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiSellCancel" icon="clear" title="Multi-Sell Cancel" content=multiCancelHelp }}
          {{else if hideItems}}
            {{> iconWithTooltip materialIcon=true classes="material-icons icon-danger multiHideConfirm" icon="archive" title="Multi-Hide Confirm" content=multiHideConfirmHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiHideSelectAll" icon="done_all" style="color: orange;" title="Multi-Hide Select All" content=multiSelectHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiHideCancel" icon="clear" title="Multi-Hide Cancel" content=multiCancelHelp }}
          {{else if lockItems}}
            {{> iconWithTooltip materialIcon=true classes="material-icons icon-danger multiLockConfirm" icon="lock" title="Multi-Lock Confirm" content=multiLockConfirmHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiLockSelectAll" icon="done_all" style="color: orange;" title="Multi-Lock Select All" content=multiSelectHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiLockCancel" icon="clear" title="Multi-Lock Cancel" content=multiCancelHelp }}
          {{else}}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiLockStart" icon="lock" title="Multi-Lock" content=multiLockHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiHideStart" icon="archive" title="Multi-Hide" content=multiHideHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiSellStart" icon="shopping_cart" title="Multi-Sell" content=multiSellHelp }}
          {{/if}}
        </div>
        <div class="d-flex flex-wrap">
          {{#each visibleItems}}
            {{> itemIcon item=this classes="small" autoDisplay=true}}
          {{/each}}
        </div>
      </div>
    {{/if}}

    {{#if hiddenItems}}
      <div class="mb-1">
        <div class="d-flex align-items-center mb-1">
          <h3 class="mb-0 mr-auto">Hidden Items</h3>
          {{#if sellItems}}
            {{> iconWithTooltip materialIcon=true classes="material-icons icon-danger multiSellConfirm" icon="shopping_cart" title="Multi-Sell Confirm" content=multiSellConfirmHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiSellSelectAll" icon="done_all" style="color: orange;" title="Multi-Sell Select All" content=multiSelectHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiSellCancel" icon="clear" title="Multi-Sell Cancel" content=multiCancelHelp }}
          {{else if showItems}}
            {{> iconWithTooltip materialIcon=true classes="material-icons icon-danger multiShowConfirm" icon="unarchive" title="Multi-Show Confirm" content=multiShowConfirmHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiShowSelectAll" icon="done_all" style="color: orange;" title="Multi-Show Select All" content=multiSelectHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiShowCancel" icon="clear" title="Multi-Show Cancel" content=multiCancelHelp }}
          {{else if lockItems}}
            {{> iconWithTooltip materialIcon=true classes="material-icons icon-danger multiLockConfirm" icon="lock" title="Multi-Lock Confirm" content=multiLockConfirmHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiLockSelectAll" icon="done_all" style="color: orange;" title="Multi-Lock Select All" content=multiSelectHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiLockCancel" icon="clear" title="Multi-Lock Cancel" content=multiCancelHelp }}
          {{else}}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiLockStart" icon="lock" title="Multi-Lock" content=multiLockHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiShowStart" icon="unarchive" title="Multi-Show" content=multiShowHelp }}
            {{> iconWithTooltip materialIcon=true classes="material-icons multiSellStart" icon="shopping_cart" title="Multi-Sell" content=multiSellHelp }}
          {{/if}}
        </div>
        <div class="d-flex flex-wrap">
          {{#each hiddenItems}}
            {{> itemIcon item=this classes="small" autoDisplay=true}}
          {{/each}}
        </div>
      </div>
    {{/if}}
  {{/if}}

  <div class="modal confirmSellModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sell Items</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="mb-3">Really sell the selected items?</p>
          <div class="d-flex">
            <button class="btn btn-danger modalButtonConfirm ml-auto">Yes</button>
            <button class="btn btn-success modalButtonCancel ml-2">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
