<template name="globalBuffIcon">
  <div class="buff-icon-container icon-box medium-icon" style="position: relative">
    <img src="/icons/{{icon}}.svg" class="small-icon">
    <span style="position: absolute; top: 0px; right: 1px; font-size: 10px;
      line-height: 10px; color: blue;">
      {{#if $gte (moDiff date moNow 'minutes') 60}}
        {{moDiff date moNow 'hours'}}h
        {{cappedMinutes (moDiff date moNow 'minutes')}}m
      {{else}}
        {{moDiff date moNow 'minutes'}}m
        {{cappedSeconds (moDiff date moNow 'seconds')}}s
      {{/if}}
    </span>
  </div>

  <!-- Icon Tooltip -->
  <div class="buff-tooltip-content my-tooltip-inner">
    <h3 class='popover-title text-capitalize'>
      {{{name}}}
    </h3>
    <div class='popover-content'>
      <div style='max-width: 350px;'>
        <span style="color: blue;">
          {{#if $gte (moDiff date moNow 'minutes') 60}}
            {{moDiff date moNow 'hours'}} hours,
            {{cappedMinutes (moDiff date moNow 'minutes')}} minutes
          {{else}}
            {{moDiff date moNow 'minutes'}} minutes,
            {{cappedSeconds (moDiff date moNow 'seconds')}} seconds
          {{/if}}
          remaining<br />
        </span>
        <br />
        
        {{#each effects}}
          <p class="mb-1">{{{this}}}</p>
        {{/each}}
        
        <br />
        <small>Global buffs affect all players.</small><br />
        {{#if constants}}
          {{#if constants.extraDescription}}
            <small>{{{constants.extraDescription}}}</small><br />
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>

</template>
