<template name="mineSpace">
  <div class="icon-box mine-space-container">
    {{#unless isEmpty}}
      <img src="/icons/{{mineSpace.icon}}.svg" class="ore-icon">
      <span style="font-size: 12px; white-space: nowrap">
        {{> formatNumber mineSpace.health}} / {{> formatNumber mineSpace.healthMax}}
      </span>
    {{/unless}}
  </div><br />
  
  <!--
  <div class="mine-space-tooltip-content my-tooltip-inner">
    {{#if isEmpty}}
      <h3 class='popover-title text-capitalize'>Nothing!</h3>
      <div class='popover-content'>
        Ores will spawn here over time.<br />
        Come back in a few minutes.
      </div>
    {{else}}
      <h3 class='popover-title text-capitalize'>{{mineSpace.name}}</h3>
      <div class='popover-content'>
        XP: {{mineSpace.xp}}
        <br /><br />
        <b>Click</b> to mine
      </div>
    {{/if}}
  </div>
  -->
</template>
