<template name="farmSpace">
  <div class="farm-space-container {{#if farmSpace.active}}{{else}}inactive{{/if}}">
    <div class="icon-box align-items-center {{classes}}" style="{{styles}}">
      {{#if isEmpty}}
        <img src="/icons/emptyFarmSpace.svg" class="ore-icon">
      {{else if finishedGrowing}}
        <img src="/icons/{{farmSpace.icon}}" class="ore-icon">
      {{else}}
        <img src="/icons/sapling.svg" class="ore-icon">
        <div class="progress mt-1" style="width: 100%">
          <div class="progress-bar bg-success" role="progressbar" style="width: {{growthPercentage}}%; height: 5px;" aria-valuenow="{{growthPercentage}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      {{/if}}
    </div>
  </div>
  
  <div class="farm-space-tooltip-content my-tooltip-inner">
    {{#if isEmpty}}
      {{#if farmSpace.active}}
        <h3 class='popover-title text-capitalize'>Empty Plot</h3>
        <div class='popover-content'>
          You can plant seeds here<br />
        </div>
      {{else}}
        <h3 class='popover-title text-capitalize'>Locked Plot</h3>
        <div class='popover-content'>
          Unlock this plot by becoming a member.<br />
          Visit the shop to become a member.
        </div>
      {{/if}}
    {{else}}
      <h3 class='popover-title text-capitalize'>{{farmSpace.name}}</h3>
      <div class='popover-content'>
        {{#unless finishedGrowing}}
          Your plant is still growing<br />
          {{timeRemaining}} remaining
          <br /><br />
        {{/unless}}

        {{#if finishedGrowing}}
          <b>Click</b> to pick
        {{else}}
          <b>Shift click</b> to destroy<br />
          Still growing, please wait.
        {{/if}}
      </div>
    {{/if}}
  </div>
</template>
