<template name="farmSpace">
  <div class="icon-box farm-space-container align-items-center">
    {{#if isEmpty}}
      <img src="/icons/emptyFarmSpace.svg" class="ore-icon">
    {{else if finishedGrowing}}
      <img src="/icons/{{farmSpace.icon}}.svg" class="ore-icon">
    {{else}}
      <img src="/icons/sapling.svg" class="ore-icon">

      <div class="progress mt-3" style="width: 100%">
        <div class="progress-bar bg-info" role="progressbar" style="width: {{waterPercentage}}%; height: 5px;" aria-valuenow="{{waterPercentage}}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress mt-1" style="width: 100%">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{growthPercentage}}%; height: 5px;" aria-valuenow="{{growthPercentage}}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    {{/if}}
  </div>
  
  <div class="farm-space-tooltip-content my-tooltip-inner">
    {{#if isEmpty}}
      <h3 class='popover-title text-capitalize'>Empty Plot</h3>
      <div class='popover-content'>
        You can plant seeds here<br />
      </div>
    {{else}}
      <h3 class='popover-title text-capitalize'>{{farmSpace.name}}</h3>
      <div class='popover-content'>
        {{#unless finishedGrowing}}
          Your plant is still growing<br />
          {{timeRemaining}} remaining
          <br /><br />
        {{/unless}}

        {{#if finishedGrowing}}
          <b>Click</b> to pick
        {{else}}
          <b>Click</b> to water
        {{/if}}
      </div>
    {{/if}}
  </div>
</template>
