<template name="equipmentTab">
  <div class="p-1">
    <h1>Combat Items</h1>
    {{#if $or unequippedCombatItems foodItems}}
      <p>Click on combat items to equip them. Click on food to eat it.</p>
    {{else}}
      <p>You have no items to equip.</p>
    {{/if}}
    <div class="d-flex">
      {{#each unequippedCombatItems}}
        {{> itemIcon item=this}}
      {{/each}}
      {{#each foodItems}}
        {{> itemIcon item=this}}
      {{/each}}
    </div>
  </div>

  <div class="d-flex flex-row p-1">
    <div class="equipment-row col col-8 p-0">
      <h1>Equipment</h1>
      <div class="d-flex">
        <div class="icon-box" style="border: none">
          <img src="/icons/character.svg">
        </div>
        <!-- Main Hand -->
        {{#if equippedItemsMap.mainHand}}
          {{> itemIcon item=equippedItemsMap.mainHand}}
        {{else}}
          <div class="icon-box">
            Main Hand
          </div>
        {{/if}}
        <!-- Head -->
        {{#if equippedItemsMap.head}}
          {{> itemIcon item=equippedItemsMap.head}}
        {{else}}
          <div class="icon-box">
            Head
          </div>
        {{/if}}
        <!-- Chest -->
        {{#if equippedItemsMap.chest}}
          {{> itemIcon item=equippedItemsMap.chest}}
        {{else}}
          <div class="icon-box">
            Chest
          </div>
        {{/if}}
        <!-- Legs -->
        {{#if equippedItemsMap.legs}}
          {{> itemIcon item=equippedItemsMap.legs}}
        {{else}}
          <div class="icon-box">
            Legs
          </div>
        {{/if}}
      </div>
    </div>
    <div class="stats-row col p-0">
      <h1>Stats</h1>

      <div class="d-flex">
        <div class="col">
          {{#each offenseStats}}
            <div class="d-flex flex-row mb-1">
              <div class="d-flex align-items-center {{this.icon}}-tooltip-container">
                <img src="/icons/{{this.icon}}.svg" class="small-icon">
              </div>
              <div class="d-flex align-items-center ml-1">
                {{this.value}}
                {{#if this.maxValue}}
                  - {{> formatNumber this.maxValue}}
                {{/if}}
              </div>
            </div>
          {{/each}}
        </div>

        <div class="col">
          {{#each defenseStats}}
            <div class="d-flex flex-row mb-1">
              <div class="d-flex align-items-center {{this.icon}}-tooltip-container">
                <img src="/icons/{{this.icon}}.svg" class="small-icon">
              </div>
              <div class="d-flex align-items-center ml-1">
                {{> formatNumber this.value}}
                {{#if this.maxValue}}
                  / {{this.maxValue}}
                {{/if}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>

      <br />
      <h1>Skill Levels</h1>
      <div class="attackSkill-tooltip-container">
        {{> skillHeader skill=attackSkill}}
      </div>
      <div class="defenseSkill-tooltip-container">
        {{> skillHeader skill=defenseSkill color='bg-success'}}
      </div>
      <div class="healthSkill-tooltip-container">
        {{> skillHeader skill=healthSkill color='bg-danger'}}
      </div>
    </div>
  </div>

  <div class="tooltips-container" style="display: none">
    <div class="attack-tooltip-content my-tooltip-inner">
      <h3 class='popover-title text-capitalize'>Attack</h3>
      <div class='popover-content'>
        Determines how much physical damage you deal.
      </div>
    </div>
    <div class="attackSpeed-tooltip-content my-tooltip-inner">
      <h3 class='popover-title text-capitalize'>Attack Speed</h3>
      <div class='popover-content'>
        How many times you will attack per second.
      </div>
    </div>
    <div class="accuracy-tooltip-content my-tooltip-inner">
      <h3 class='popover-title text-capitalize'>Accuracy</h3>
      <div class='popover-content'>
        How likely you are to hit your enemy.
      </div>
    </div>
    <div class="health-tooltip-content my-tooltip-inner">
      <h3 class='popover-title text-capitalize'>Health</h3>
      <div class='popover-content'>
        Your health.
      </div>
    </div>
    <div class="defense-tooltip-content my-tooltip-inner">
      <h3 class='popover-title text-capitalize'>Defense</h3>
      <div class='popover-content'>
        Chance to dodge attacks.
      </div>
    </div>
    <div class="armor-tooltip-content my-tooltip-inner">
      <h3 class='popover-title text-capitalize'>Armor</h3>
      <div class='popover-content'>
        Reduces damage taken.
      </div>
    </div>

    <div class="attackSkill-tooltip-content my-tooltip-inner">
      <h3 class='popover-title text-capitalize'>Attack</h3>
      <div class='popover-content'>
        Gain +1 attack and +1 accuracy for each attack level.
      </div>
    </div>
    <div class="defenseSkill-tooltip-content my-tooltip-inner">
      <h3 class='popover-title text-capitalize'>Defense</h3>
      <div class='popover-content'>
        Gain +1 defense and +1 armor for each defense level.
      </div>
    </div>
    <div class="healthSkill-tooltip-content my-tooltip-inner">
      <h3 class='popover-title text-capitalize'>Health</h3>
      <div class='popover-content'>
        Gain +10 health for each health level.
      </div>
    </div>
  </div>
</template>
