<template name="lobbyPage">
  <div class="container mt-2">

    <!-- Select Type / Floor / Room / Level -->
    <div class="d-flex align-items-center">
      <div class="mr-2">Type</div>
      <div class="dropdown">
        <button class="btn btn-secondary mr-3 dropdown-toggle text-capitalize" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{type}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item select-type" data-type="solo" href="#">Solo</a>
          <a class="dropdown-item select-type" data-type="group" href="#">Tower (Group)</a>
          <a class="dropdown-item select-type" data-type="afk" href="#">Adventure (AFK)</a>
        </div>
      </div>
      {{#if $eq typeKey 'solo'}}
        <div class="mr-2">Level</div>
        <div class="dropdown">
          <button class="btn btn-secondary mr-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            1
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">1</a>
            <a class="dropdown-item" href="#">2</a>
            <a class="dropdown-item" href="#">3</a>
          </div>
        </div>
        <div>
          Wave 4
        </div>
      {{else if $eq typeKey 'group'}}
        <div class="mr-2">Floor</div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            1
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">1</a>
            <a class="dropdown-item" href="#">2</a>
            <a class="dropdown-item" href="#">3</a>
          </div>
        </div>
      {{else if $eq typeKey 'afk'}}
        <div class="mr-2">Floor</div>
        <div class="dropdown">
          <button class="btn btn-secondary mr-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            1
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">1</a>
            <a class="dropdown-item" href="#">2</a>
            <a class="dropdown-item" href="#">3</a>
          </div>
        </div>
        <div class="mr-2">Room</div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            1 - Eternal Pond
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">1 - Eternal Pond</a>
            <a class="dropdown-item" href="#">2 - Fire Keep</a>
            <a class="dropdown-item" href="#">3 - Stone Fortress</a>
          </div>
        </div>
      {{/if}}
    </div>

    <div class="d-flex align-items-center justify-content-center flex-wrap" style="margin-top: 100px">
      {{#each currentGroupMembers}}
        {{> lobbyUnit unit=this}}
      {{/each}}
    </div>

    <div style="margin-top: 100px">
      <div>
        <a href="#" class="mb-1 recent-battles-btn text-muted">Recent Battles</a>
      </div>
      {{#each recentBattles}}
        {{> battleLogRow battle=this}}
      {{/each}}
    </div>

    <div class="mb-3">
      <div>
        <a href="#" class="mb-1 recent-battles-btn text-muted">Consumables</a>
      </div>
      <div class="d-flex flex-wrap">
        {{#each foodItems}}
          {{> itemIcon item=this classes="small"}}
        {{/each}}
      </div>
    </div>

    {{#if $eq typeKey 'group'}}
      <div>
        <div>
          <a href="#" class="mb-1 other-battlers-btn text-muted">Other Battlers</a>
        </div>
        <div class="recent-battling-row">
          <span class="mr-3">Floor 3</span>
          <span class="badge badge-success mr-3" style="width: 70px;">Battling</span>
          <span class="mr-3 d-flex">
            <span class="badge badge-invisible mr-1">konk353535 #81</span>
            <span class="badge badge-invisible mr-1">aessedai #69</span>
            <span class="badge badge-invisible mr-1">nickbreslin #92</span>
          </span>
          <div class="d-flex flex-grow justify-content-end">
            <span class="mr-3">24 Battles</span>
            <button class="btn btn-secondary btn-sm mr-1">Spectate</button>
            <button class="btn btn-primary btn-sm">Join</button>
          </div>
        </div>
        <div class="recent-battling-row">
          <span class="mr-3">Floor 3</span>
          <span class="badge badge-success mr-3" style="width: 70px;">Battling</span>
          <span class="mr-3 d-flex">
            <span class="badge badge-invisible mr-1">konk353535 #81</span>
            <span class="badge badge-invisible mr-1">aessedai #69</span>
            <span class="badge badge-invisible mr-1">nickbreslin #92</span>
          </span>
          <div class="d-flex flex-grow justify-content-end">
            <span class="mr-3">24 Battles</span>
            <button class="btn btn-secondary btn-sm mr-1">Spectate</button>
            <button class="btn btn-primary btn-sm">Join</button>
          </div>
        </div>
        <div class="recent-battling-row">
          <span class="mr-3">Floor 3</span>
          <span class="badge badge-success mr-3" style="width: 70px;">Battling</span>
          <span class="mr-3 d-flex">
            <span class="badge badge-invisible mr-1">konk353535 #81</span>
            <span class="badge badge-invisible mr-1">aessedai #69</span>
            <span class="badge badge-invisible mr-1">nickbreslin #92</span>
          </span>
          <div class="d-flex flex-grow justify-content-end">
            <span class="mr-3">24 Battles</span>
            <button class="btn btn-secondary btn-sm mr-1">Spectate</button>
            <button class="btn btn-primary btn-sm">Join</button>
          </div>
        </div>
      </div>
    {{/if}}

    <div class="select-battle-container">
      <button class="btn btn-secondary loadout-btn mr-3" style="width: 150px">Loadout</button>
      <button class="btn btn-primary battle-btn" style="width: 150px">Battle</button>
    </div>
  </div>
</template>
