<template name="lobbyPage">
  <div class="container lobby-container mt-2">
    <!-- Select Type / Floor / Room / Level -->
    <div class="d-flex align-items-center flex-wrap">
      <div class="mr-2 hidden-sm-down">Type</div>
      <div class="dropdown">
        <button class="btn btn-secondary mr-3 dropdown-toggle text-capitalize" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{type}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item select-type" data-type="solo" href="#">Solo</a>
          <a class="dropdown-item select-type" data-type="group" href="#">Tower (Group)</a>
          <a class="dropdown-item select-type" data-type="afk" href="#">Adventure (AFK)</a>
        </div>
      </div>
      {{#if $eq typeKey 'solo'}}
        <div class="mr-2 hidden-sm-down">Level</div>
        <div class="dropdown level-dropdown">
          <button class="btn btn-secondary mr-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{usersCurrentLevel}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{#each levelsList}}
              <a class="dropdown-item select-level" data-level="{{this}}" href="#">{{this}}</a>
            {{/each}}
          </div>
        </div>
        {{#if $eq usersCurrentLevel maxLevel}}
          <div class="flex-grow-sm justify-content-center-sm d-flex">
            Wave {{maxLevelCurrentWave}}
          </div>
        {{/if}}
      {{else if $eq typeKey 'group'}}
        <div class="mr-2 hidden-sm-down">Floor</div>
        <div class="dropdown floor-dropdown">
          <button class="btn btn-secondary mr-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{usersCurrentFloor}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{#each floorsList}}
              <a class="dropdown-item select-floor" href="#" data-floor="{{this}}">{{this}}</a>
            {{/each}}
          </div>
        </div>
        {{#if floorDetails.isUnlocked}}
          <div class="mr-2 hidden-sm-down">Room</div>
          <div class="dropdown room-dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{usersCurrentRoom}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item select-room" href="#" data-room="all">All</a>
              {{#each floorDetails.rooms}}
                <a class="dropdown-item select-room" href="#" data-room="{{this.room}}">{{this.room}} - {{this.name}}</a>
              {{/each}}
              <a class="dropdown-item select-room" href="#" data-room="Boss">Boss</a>
            </div>
          </div>
        {{else}}
          {{#if $lte waveDetails.points waveDetails.pointsMax}}
            <div class="progress" style="min-width: 200px; height: 30px;">
              <div class="progress-bar bg-danger justify-content-center align-items-center d-flex" role="progressbar" style="min-width: 75px; width: {{wavePointsProgress}}%; height: 30px;" aria-valuenow="{{wavePointsProgress}}" aria-valuemin="0" aria-valuemax="100">
                {{> formatNumber number=waveDetails.points}} / {{> formatNumber number=waveDetails.pointsMax}}
              </div>
            </div>
            {{#each combat.towerContributions}}
              <div class="mx-1 badge badge-warning">{{> formatNumber number=this decimal=1}}</div>
            {{/each}}
          {{else}}
            <button class="btn btn-danger battle-boss-btn mr-2">Boss</button>
            {{waveDetails.health}} / {{waveDetails.healthMax}} hp
          {{/if}}
        {{/if}}
      {{else if $eq typeKey 'afk'}}
        <div class="mr-2 hidden-sm-down">Floor</div>
        <div class="dropdown">
          <button class="btn btn-secondary mr-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            1
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">1</a>
            <a class="dropdown-item" href="#">2</a>
            <a class="dropdown-item" href="#">3</a>
          </div>
        </div>
        <div class="mr-2 hidden-sm-down">Room</div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            1
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">1 - Eternal Pond</a>
            <a class="dropdown-item" href="#">2 - Fire Keep</a>
            <a class="dropdown-item" href="#">3 - Stone Fortress</a>
          </div>
        </div>
      {{/if}}

      {{#if showInvites}}
        <div class="d-flex align-items-center justify-content-end flex-grow">
          <div class="mr-1">Invite from</div>
          <div class="battle-unit-name text-capitalize">{{firstPendingInvite.leaderName}}</div>
          <div class="d-flex mt-2">
            <button
              class="btn btn-success ml-1 btn-sm accept-btn"
              data-id={{firstPendingInvite._id}}>
              Accept
            </button>
            <button
              class="btn btn-danger ml-1 btn-sm decline-btn"
              data-id={{firstPendingInvite._id}}>
              Decline
            </button>
          </div>
        </div>
      {{else if $eq typeKey 'group'}}
        <form class="group-invite d-flex flex-grow align-items-center justify-content-end">
          <div class="col-auto">
            <label class="sr-only" for="name">Name</label>
            <input class="form-control typeahead" name="team" id="name" type="text"
              placeholder="Name"
              autocomplete="off" spellcheck="off"
              data-source="search" />
          </div>
          <button type="submit" class="btn btn-primary btn-invite ml-1">Invite</button>
        </form>
      {{/if}}
    </div>

    {{#unless $eq typeKey 'afk'}}
      <div class="d-flex align-items-center justify-content-center flex-wrap lobby-units-container">
        {{#each currentGroupMembers}}
          <div class="flex-column d-flex justify-content-center"  style="margin-left: 30px; margin-right: 30px">
            {{> lobbyUnit unit=this}}
            {{#if currentGroup}}
              <div class="d-flex justify-content-center mt-2" style="height: 30px">
                {{#if $eq currentUser._id this.owner}}
                  <button class="btn btn-secondary btn-leave btn-sm mr-1">
                    <img src="/icons/leave.svg" width="16" height="16" />
                  </button>
                  {{#if $eq this.owner currentGroup.leader}}
                    {{#if currentGroup.locked}}
                      <button class="btn btn-secondary btn-lock-open btn-sm mr-1">
                        <img src="/icons/openLock.svg" width="16" height="16" />
                      </button>
                    {{else}}
                      <button class="btn btn-secondary btn-lock-close btn-sm mr-1">
                        <img src="/icons/closedLock.svg" width="16" height="16" />
                      </button>
                    {{/if}}
                  {{/if}}
                {{else if isLeader}}
                  <button class="btn btn-danger btn-kick btn-sm mr-1" data-owner="{{this.owner}}">
                    <img src="/icons/boot.svg" width="16" height="16" />
                  </button>
                  {{#unless this.isInvitee}}
                    <button class="btn btn-warning btn-promote btn-sm" data-owner="{{this.owner}}">
                      <img src="/icons/leaderCrown.svg" width="16" height="16" />
                    </button>
                  {{/unless}}
                {{/if}}
              </div>
            {{/if}}
          </div>
        {{/each}}
      </div>

      <div class="d-flex flex-grow justify-content-center" style="margin-top: 50px">
        <button class="btn btn-secondary loadout-btn mr-3" style="width: 150px">Loadout</button>
        <button class="btn btn-primary battle-btn d-flex justify-content-center" style="width: 150px" disabled="{{newBattleLoading}}">
          {{#if newBattleLoading}}
            <div class="real-spinner">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          {{else}}
            Battle
          {{/if}}
        </button>
      </div>
    {{/unless}}

    {{#if $eq typeKey 'afk'}}
      {{> adventuresTab}}
    {{else}}
      <div style="margin-top: 150px">
        <div>
          <a href="#" class="mb-1 recent-battles-btn text-muted">Recent Battles</a>
        </div>
        {{#each recentBattles}}
          {{> battleLogRow battle=this}}
        {{/each}}
      </div>

      <div class="mb-2">
        <div>
          <a href="#" class="mb-1 consumables-btn text-muted">Consumables</a>
        </div>
        <div class="d-flex flex-wrap">
          {{#each combat.buffs}}
            {{> foodIcon food=this}}
          {{/each}}
          {{#each foodItems}}
            {{> itemIcon item=this classes="small"}}
          {{else}}
            No consumables
          {{/each}}
        </div>
      </div>
    {{/if}}

    {{#if $eq typeKey 'group'}}
      <div class="mb-2">
        <div>
          <a href="#" class="mb-1 other-battlers-btn text-muted">Other Battlers</a>
        </div>
        {{#each otherBattlers}}
          {{> otherBattlersRow row=this}}
        {{else}}
          No other battlers
        {{/each}}
      </div>
    {{/if}}

    <div>
      <div class="mb-1 text-muted">Combat Levels</div>
      <div class="d-flex flex-wrap">
        <div class="mb-3 mr-3">
          <div class="d-flex align-items-center">
            <i class="lilIcon-{{attackSkill.type}} small-icon"></i>
            <div class="ml-1 mb-0">
              Level {{attackSkill.level}}
            </div>
            {{#if attackSkill}}
              <small class="mx-3">{{ > formatNumber number=attackSkill.xp}} / {{ > formatNumber number=attackSkill.xpToLevel}}XP</small>
            {{/if}}
          </div>
          <div class="progress mt-1" style="height: 5px">
            <div class="progress-bar bg-primary" role="progressbar" style="width: {{attackSkill.percentage}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-3 mr-3">
          <div class="d-flex align-items-center">
            <i class="lilIcon-{{defenseSkill.type}} small-icon"></i>
            <div class="ml-1 mb-0">
              Level {{defenseSkill.level}}
            </div>
            {{#if defenseSkill}}
              <small class="mx-3">{{ > formatNumber number=defenseSkill.xp}} / {{ > formatNumber number=defenseSkill.xpToLevel}}XP</small>
            {{/if}}
          </div>
          <div class="progress mt-1" style="height: 5px">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{defenseSkill.percentage}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="mb-3 mr-3">
          <div class="d-flex align-items-center">
            <i class="lilIcon-{{healthSkill.type}} small-icon"></i>
            <div class="ml-1 mb-0">
              Level {{healthSkill.level}}
            </div>
            {{#if healthSkill}}
              <small class="mx-3">{{ > formatNumber number=healthSkill.xp}} / {{ > formatNumber number=healthSkill.xpToLevel}}XP</small>
            {{/if}}
          </div>
          <div class="progress mt-1" style="height: 5px">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{healthSkill.percentage}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        {{#if magicSkill}}
          <div class="mb-3 mr-3">
            <div class="d-flex align-items-center">
              <i class="lilIcon-{{magicSkill.type}} small-icon"></i>
              <div class="ml-1 mb-0">
                Level {{magicSkill.level}}
              </div>
              {{#if magicSkill}}
                <small class="mx-3">{{ > formatNumber number=magicSkill.xp}} / {{ > formatNumber number=magicSkill.xpToLevel}}XP</small>
              {{/if}}
            </div>
            <div class="progress mt-1" style="height: 5px">
              <div class="progress-bar bg-purple" role="progressbar" style="width: {{magicSkill.percentage}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        {{/if}}
      </div>
    </div>

    {{#if $eq typeKey 'group'}}
      {{#unless floorDetails.isUnlocked}}
        <div class="flex-grow" style="max-width: 50%; margin-top: 50px;">
          <div class="text-muted">Furthest Community Floor</div>
          <div>Progress {{waveDetails.points}} / {{waveDetails.pointsMax}} pts</div>
          <div class="mt-2 text-muted">Your contributions</div>
          <div>
            {{#if myFloorContributions.points}}
              {{myFloorContributions.points}}pts
              (top {{myFloorContributions.rankingPercentage}} %)
            {{else}}
              No contributions
            {{/if}}
          </div>
          <div class="mt-2 text-muted">Floor Rewards</div>
          <div class="d-flex flex-wrap align-items-center">
            <img src="/icons/treasureChest.svg" class="large-icon mr-3">
            {{#each estimatedRewards}}
              {{#if $eq this.type 'item'}}
                {{ > itemIcon item=this classes="small" readOnly=true }}
              {{else}}
                <img src="/icons/goldCoin.svg" class="small-icon"> {{this.amount}}
              {{/if}}
            {{/each}}
          </div>
        </div>
      {{/unless}}
    {{/if}}

    <!--
    <div class="select-battle-container">
      <button class="btn btn-secondary loadout-btn mr-3" style="width: 150px">Loadout</button>
      <button class="btn btn-primary battle-btn" style="width: 150px">Battle</button>
    </div>-->
  </div>
</template>
