<template name="abilityLibraryIcon">
  <div class="item-icon-container item {{classes}} icon-box {{#if item.notLearnt}}not-learnt{{/if}} {{#if $gt item.currentCooldown 0}}disabled{{/if}}" style="position: relative" data-id="{{item._id}}">
    {{#if item.quality}}
      <div class="item-quality">{{item.quality}}%</div>    
    {{/if}}

    {{#each item.requires}}
      {{#if $eq this.type 'weaponType'}}
        <div style="position: absolute; left: 2px; top: 0" class="required-weapon">
          {{#each this.weaponTypes}}
            <img
              src="/icons/{{this}}.svg"
              style="height: 20px; width: 20px;">
          {{/each}}
        </div>
      {{/if}}
    {{/each}}

    {{#if $gt item.currentCooldown 0}}
      <span class="cooldown-text">
        {{> formatNumber number=item.currentCooldown decimal=0}}
      </span>
    {{/if}}

    <!-- Abilities can have required items -->
    {{#if item.requiredItem}}
      <img src="/icons/{{item.requiredItem}}" class="small-icon">
    {{/if}}

    <img src="/icons/{{item.icon}}" class="item-icon">

    <!-- Icon Tooltip -->
    <div class="item-tooltip-content my-tooltip-inner">
      <h3 class='popover-title text-capitalize'>
        {{item.name}}
      </h3>
      <div class='popover-content'>
        {{#if item.description}}
          {{{item.description}}}<br />
        {{/if}}

        {{#if item.cooldown}}
          Cooldown <b>{{item.cooldown}}s</b><br />
        {{/if}}

        {{#if item.isSpell}}
          <b>{{item.casts}}</b> casts remaining.<br /><br />
        {{/if}}

        {{#if item.shiftAction}}
          {{#if item.shiftAction.description}}
            <div>
              <b>Shift Click</b> _to {{item.shiftAction.description}}
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>

</template>
