<template name="personalQuestTab">
  <h1 class="d-flex">
    Personal Quest
    <div class="dropdown ml-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Level {{usersCurrentLevel}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#each levelsList}}
          <a class="dropdown-item select-level" href="#" data-level={{this}}>Level {{this}}</a>
        {{/each}}
      </div>
    </div>
  </h1>

  <div class="d-flex justify-content-center flex-column align-items-center" style="height: 300px">
    {{#if $eq usersCurrentLevel maxLevel}}
      <h4>Wave {{maxLevelCurrentWave}} / 10</h4>
      <button class="btn btn-primary mt-1 find-battle">Battle</button>
    {{else}}
      <h4>Already Completed All Waves</h4>  
      <button class="btn btn-primary mt-1 random-battle">Battle Random Wave</button>
    {{/if}}
  </div>
</template>
